{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">

            <div class="serviceTopBar">
                <h4>Variation</h4>
                <div class="serviceTopBarRight">
                    <form>

                        <div class="input-group">
                            <select id="services">
                                {% for service in services %}

                                    <option value="{{path('variations',{'id':service.id})}}" {% if(service.id == service_id) %} selected {% endif%}>{{ service.serviceName }}</option>
                                {% endfor%}
                            </select>
                        </div>
                        <div class="input-group addNewButton">
                            <button type="button" data-toggle="modal" data-target="#addvariation" ><img src="{{ asset('bundles/expandatrck/images/plus.svg') }}"/>  Add New</button>
                        </div>
                    </form>
                        <a class="btn btn-primary btn-goback" href="{{path('service')}}"></i>&nbsp;back</a>
                </div>
            </div>

            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive variationTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Start Height ( mm )</th>
                                <th>End Height ( mm )</th>
                                <th>Start Width ( mm )</th>
                                <th>End Width ( mm )</th>
                                <th>Cost</th>
                                <th> Edit / Delete</th>
                            </tr>
                        </thead>
                         {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-warning">
                                {% for msg in app.session.flashBag.get('error') %}
                                     <strong>Warning!</strong> {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <tbody>
                            {% for entity in entities %}
                                 {% if entity.startWith !=0 and entity.endWith !=0 %}
                                <tr>
                                    <td>{{entity.startHeight}}</td>
                                    <td>{{entity.endHeight}}</td>
                                    <td>{{entity.startWith}}</td>
                                    <td>{{entity.endWith}}</td>
                                    <td>{{entity.cost}}</td>
                                    <td class="edit">
                                        <a data-toggle="modal" data-target="#editvariation-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/edit.svg') }}"/></a>
                                        <a data-toggle="modal" data-target="#orderdelete-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                            {% include 'ExpandatrckBundle:Modelpopup:editvariation.html.twig' %}
                                            {% include 'ExpandatrckBundle:Modelpopup:deletevariation.html.twig' %}
                                    </td>

                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                        <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:addvariation.html.twig' %}

{% endblock %}