<!--Install Modal-->

        <div id="installation-{{ entity.id }}" class="modal fade installATIONModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">Specifications</h4>
                        
                    </div>
                    <div class="modal-body">
                        <div id="response" style="color:red;display:none;">zxz</div>
                       <form  action="{{ path('add_service_order') }}" method="post" enctype="multipart/form-data">
                           <input type="hidden" name="orderid" value="{{orderid}}" />
                           <input type="hidden" name="serviceid" value="{{ entity.id }}" />
                           
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-group">
                                        <label>Width</label>
                                        {% if(entity.costType == 'fixedcost') %}
                                        <input type="text" name="width"  pattern="\d*" placeholder="0" disabled="disabled" />
                                        {% else %}
                                         <input type="text" name="width"  pattern="\d*" placeholder="0" require />   
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-group">
                                        <label>Height</label>
                                        {% if(entity.costType == 'fixedcost') %}
                                            <input type="text" name="height" pattern="\d*" placeholder="0" disabled="disabled" />
                                        {% else %}
                                            <input type="text" name="height" pattern="\d*" placeholder="0" require/>
                                        {% endif %}
                                    </div>
                                </div>
                                
                                 <div class="col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <label>Description</label>
                                       
                                        <input type="text" name="description"  placeholder="Description"  />
                                      
                                       

                                    </div>
                                </div>
                            </div>
                            <div class="form-group service-select" id="serviceparameter-{{ entity.id }}" >
                             </div>
                            <div class="col-xs-12 text-center">
                                <input class="btn btn-orange" type="submit" value="Submit"/>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <!--Install Modal End-->