<!--Add new Parameter popup-->
        <div id="addparameter" class="modal fade addParameterPopup" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">Add Parameter</h4>
                    </div>
                    <div class="modal-body inputFBF9FA">
                        <form action="{{ path('add_parameter') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="serviceid" value="{{ service_id }}" />
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Enter Parameter Option</label>
                                    <input type="text" name="parametername" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 text-center">
                                    <input type="submit" value="submit" class="btn btn-orange"/>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <!--Add new parameter end-->