<!--Delete Popup-->

<div id="orderdelete-{{user.id}}" class="modal fade orderDelete" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your account?</p>
                <div class="deleteButtonGroup">
                    {# <input type="submit" value="Yes">#}
                    <a class="btn btn-primary" href="{{path('user_delete',{'id':user.id})}}">Yes</a>
                    <input class="btn btn-grey" type="submit" value="No" data-dismiss="modal" >
                </div>
            </div>

        </div>

    </div>
</div>
<!--Delete Popup end-->