<!--Delete Popup-->

<div id="orderdelete-{{entity.id}}" class="modal fade orderDelete" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this order?</p>
                <div class="deleteButtonGroup">
                   
                    <a class="btn btn-primary" href="{{path('delete_order',{ 'id':entity.id })}}">Yes</a>
                    <input type="submit" data-dismiss="modal" value="No" class="btn btn-grey">
                </div>
            </div>

        </div>

    </div>
</div>

<!--Delete Popup-->