<!--Edit Parameter popup-->
        <div id="editvariation-{{entity.id}}" class="modal fade addVariationModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">Edit</h4>
                    </div>
                    <h4>ROLLER BLINDS</h4>
                    <div class="modal-body inputFBF9FA">

                        <form action="{{ path('edit_variations') }}" method="post" enctype="multipart/form-data">
                            <div class="col-xs-12 uploadPhotoWrapper">
                                <div class="uploadPhoto">
                                    {% if( entity.path is empty )%}
                                    <img class="preivew" id="blah" src="{{ asset('bundles/expandatrck/images/img.png') }}" alt="your image" />
                                    {% else %}
                                        <img class="preivew" id="blah" src="{{ asset('/uploads/variation/'~entity.path)}}" alt="your image" />
                                    {% endif %}
                                    <div class="fileButton"><i class="fa fa-camera" aria-hidden="true"></i>
                                        <input type="file" class="mask_broswse" onChange="imageAddPreview(this)" name="variation_image">
                                        <div class="uploadInfo">
                                            <h4>Variation Image</h4>
                                            <span>Recomended size 190x190</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="variationid" value="{{ entity.id }}" />
                            <input type="hidden" name="serviceid" value="{{ service_id }}" />
                            <input type="hidden" name="pagenumber" value="{{ app.request.get('page') }}" />
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6">
                                    <label>Start Width ( mm )</label>
                                    <input type="text" name="start_with" pattern="\d*" value={{entity.startWith}} placeholder="50" require />
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label>End Width ( mm )</label>
                                    <input type="text" name="end_with" pattern="\d*" value={{entity.endWith}} placeholder="500" require />
                                </div>
                            </div>
                                <div class="form-group">
                                <div class="col-xs-12 col-sm-6">
                                    <label>Start Height ( mm )</label>
                                    <input type="text" name="start_height" pattern="\d*" value={{entity.startHeight}} placeholder="50" require />
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label>End Height ( mm )</label>
                                    <input type="text" name="end_height" pattern="\d*" value={{entity.endHeight}} placeholder="500" require/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Cost</label>
                                    <input type="text" name="cost" title="This should be a decimal values." step="0.01" pattern="[0-9]+([\.,][0-9]+)?" value="{{entity.cost}}" require />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Alteration</label>
                                    <input type="text" name="alter"  value="{{entity.alterText}}" placeholder="Enter static text" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 text-center">
                                    
                                    <input type="submit" value="submit" class="btn-orange"/>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <!--Edit parameter end-->