<!--Add new Parameter popup-->
<div id="editparameter-option-{{entity.id}}" class="modal fade addParameterPopup" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Edit Parameter </h4>
            </div>
            <div class="modal-body inputFBF9FA">
               <form action="{{ path('edit_parameter_inner_cost') }}" method="post" enctype="multipart/form-data">
                   <input type="hidden" name="serviceid" value="{{ service_id }}" />
                   <input type="hidden" name="parameterid" value="{{ parameterid }}" />
                   <input type="hidden" name="parameterinnerid" value="{{ entity.id }}" />
                   <input type="hidden" name="pagenumber" value="{{ app.request.get('page') }}" />
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Enter Parameter Option</label>
                            <input type="text" name="parametername"  value="{{ entity.value }}" placeholder="option name" require/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                           
                            <input type="text" name="cost"  step="0.01" pattern="[0-9]+([\.,][0-9]+)?" value="{{ entity.cost }}" placeholder="cost" require/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <input type="submit" value="submit" class="btn btn-orange"/>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
<!--Add new parameter end-->