<!--Add new installation popup-->
        <div id="installation-{{entity.id}}" class="modal fade newInstallationPopup" role="dialog">
            <div class="modal-dialog">
               
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">Edit Installation s</h4>
                    </div>
                    <div class="modal-body inputFBF9FA">
                        <form action="{{ path('edit_installation_cost') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="serviceid" value="{{ entity.id }}" />
                            <input type="hidden" name="installationid" value="{{ entity.getInstallationcost | length == 1 ?  entity.getInstallationcost[0].id : "" }}" />
                            {% if(entity.cost is empty) %}
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-12">
                                    <label>Start Range(Width)</label>
                                    <input placeholder="50" type="text" pattern="\d*" name="start_range" value="{{ entity.getInstallationcost | length == 1 ?  entity.getInstallationcost[0].startRange : "" }}" require />
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label>End Range (Width)</label>
                                    <input placeholder="500" type="text" pattern="\d*" name="end_range" value="{{ entity.getInstallationcost | length == 1 ?  entity.getInstallationcost[0].endRange : "" }}" require />
                                </div>
                            </div>
                             {% endif %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Cost</label>
                                    <input title="This should be a decimal values." placeholder="$5000" type="text" step="0.01" pattern="[0-9]+([\.,][0-9]+)?" value="{{ entity.getInstallationcost | length == 1 ?  entity.getInstallationcost[0].cost : "" }}" name="cost" value="" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 text-center btn-wrapper">
                                    <input type="submit" value="submit" class="btn-orange"/>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <!--Edit installation popup end-->