<div id="editservice-{{ entity.id }}" class="modal fade addNewServiceModal editServiceModal" role="dialog">

            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{asset('bundles/expandatrck/images/cancel.png')}}"></button>
                        <h4 class="modal-title">Edit Products</h4>
                    </div>
                     <form action="{{ path('edit_service') }}" method="post" enctype="multipart/form-data">
                         <input type="hidden" name="serviceid" value="{{ entity.id }}" />
                    <div class="modal-body inputFBF9FA">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="text" value="{{entity.serviceName}}" name="servicename" placeholder="Service Name"/>
                            </div>
                        </div>
                        <div class="form-group optionButton text-left">
                            <div class="col-xs-12 text-left">

                       
                                <label>
                                    <input name="costtype" value="fixedcost" {% if(entity.cost is not empty) %} checked {% endif %} type="radio" id="fixedcost-{{ entity.id }}" onclick="changeFixedCost({{ entity.id }})"/>
                                    Fixed cost
                                </label>
                                <label>
                                    <input name="costtype" value="variablecost" type="radio" {% if(entity.cost is empty) %} checked {% endif %}  id="variablecost-{{ entity.id }}" onclick="changevariableCost({{ entity.id }})"/>
                                  Variable cost
                                </label>
                            </div>
                        </div>
                         {% if(entity.cost is empty ) %}
                            <div id="cost-{{ entity.id }}" class="form-group" style="display:none;">
                                <div class="col-xs-12">
                                    <input value="{{entity.cost}}" type="text" name="cost" placeholder="Fixed cost"/>
                                </div>
                            </div>
                         {% else %}
                             <div id="cost-{{ entity.id }}" class="form-group">
                                <div class="col-xs-12">
                                    <input value="{{entity.cost}}" type="text" name="cost" placeholder="Fixed cost"/>
                                </div>
                            </div>
                         {% endif %}
                        <div class="form-group">
                             <div class="col-xs-12 text-left">

 
                            <input type="submit" value="submit" class="btn btn-orange"/>
                             </div>
                        </div>
                    </div>
                     </form>

                </div>

            </div>
        </div>