<div id="editinstallation-{{ entity.id }}" class="modal fade newInstallationPopup" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{asset('bundles/expandatrck/images/cancel.png')}}"/></button>
                        <h4 class="modal-title">Edit New Installation</h4>
                    </div>
                    <div class="modal-body inputFBF9FA">
                        <form action="{{ path('edit_installationcost') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="userid" value="{{ entity.id }}" />
                            <input type="hidden" name="serviceid" value="{{ service_id}}" />
                            <input type="hidden" name="pagenumber" value="{{ app.request.get('page') }}" />
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-12">
                                    <label>Start Range(Width)</label>
                                    <input type="text" name="start_range" pattern="\d*" value="{{entity.startRange }}"/>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label>End Range(Width)</label>
                                    <input type="text" name="end_range" pattern="\d*" value="{{entity.endRange }}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Cost</label>
                                    <input type="text" name="cost" pattern="\d*" value="{{entity.cost }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 text-center btn-wrapper">
                                    <input type="submit" value="submit" class="btn-orange"/>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
</div>