<div id="editcost-{{entity.id}}" class="modal fade addNewServiceModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{asset('bundles/expandatrck/images/cancel.png')}}"></button>
                        <h4 class="modal-title">Edit Service </h4>
                    </div>
                     <form action="{{ path('edit_service_cost') }}" method="post" enctype="multipart/form-data">
                         <input type="hidden" value="{{entity.id}}" name="serviceid" />
                    <div class="modal-body inputFBF9FA">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="text" value="{{entity.serviceName}}" name="servicename" placeholder="Service Name"/>
                            </div>
                        </div>
                        <div class="form-group optionButton">
                            <div class="col-xs-12 text-left">
                                <label>
                                    <input name="costtype" type="radio"  checked  value="fixedcost" />
                                    Fixed cost
                                </label>
                                
                            </div>
                        </div>
                        <div id="showfixedcost-{{entity.id}}" class="form-group">
                            <div class="col-xs-12">
                                <input type="text" name="cost" title="This should be a decimal values." step="0.01" pattern="[0-9]+([\.,][0-9]+)?" id="costvalue" value="{{entity.cost}}" placeholder="Fixed cost"/>
                            </div>
                        </div>
                        <div class="form-group">
                             <div class="col-xs-12 text-left">
                            <input type="submit" value="submit" class="btn btn-orange"/>
                             </div>
                        </div>
                    </div>
                     </form>

                </div>

            </div>
        </div>