<!--Add user Popup-->

        <div id="manual-email" class="modal fade inputFBF9FA editProfilePopup" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{asset('bundles/expandatrck/images/cancel.png')}}"></button>
                        <h4 class="modal-title">Send Custom Message</h4>
                    </div>
                    <div class="modal-body">
                        <form  action="{{ path('send_manual_email') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="orderid" value="{{ entity.id }}" />
                            
                            
                            
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>To</label>
                                    <input type="text" name="to_email" value="{{ entity.email }}" required />
                                </div>
                            </div>
                                
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" name="subject" value="Re:Your Curtains Quotation" required />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Custom Message</label>
                                    <textarea rows="6" name="msg" placeholder="message here..." required>{% if(message is not empty  ) %}{{ message.text }} {% endif %}</textarea>
                                </div>
                            </div>
                           
                             <div class="col-xs-12" >
                                 <a class="editText" id="add_customer" href="javascript:void(0)">Add More</a>
                                 <div id="member_row_inner">
                                     
                                       
                                 </div>
                            </div>
                                    
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="submit" value="send" id="saveuser" class="btn btn-orange"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Add user popup end-->