<div id="newservice" class="modal fade addNewServiceModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{asset('bundles/expandatrck/images/cancel.png')}}"></button>
                        <h4 class="modal-title">Add New Product</h4>
                    </div>
                     <form action="{{ path('add_service') }}" method="post" enctype="multipart/form-data">
                    <div class="modal-body inputFBF9FA">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="text" name="servicename" placeholder="Product Name" required/>
                            </div>
                        </div>
                        <div class="form-group optionButton">
                            <div class="col-xs-12">
                                <label>
                                    <input name="costtype" type="radio" id="fixedcost" value="fixedcost" />
                                    Fixed cost
                                </label>
                                <label>
                                    <input name="costtype" type="radio" checked id="variablecost" value="variablecost"/>
                                  Variable cost
                                </label>
                            </div>
                        </div>
                        <div id="showfixedcost" class="form-group" style="display:none;">
                            <div class="col-xs-12">
                                <input type="text" name="cost" placeholder="Fixed cost" title="This should be a decimal values." step="0.01" pattern="[0-9]+([\.,][0-9]+)?" />
                            </div>
                        </div>
                        <div class="form-group">
                             <div class="col-xs-12">
                            <input type="submit" value="submit" class="btn btn-orange"/>
                             </div>
                        </div>
                    </div>
                     </form>

                </div>

            </div>
        </div>