<div id="viewuser-{{ user.id }}" class="modal fade viewUser" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">View User Details</h4>
                    </div>
                    <div class="modal-body">
                        <table class="eOBg">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Phone:</td>
                                    <td>{{user.phone}}</td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td>{{user.address}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
 <!--Orders view popup end-->