<!--Orders view Popup-->

<!-- Modal -->
<div id="orders-{{ entity.id }}" class="modal fade ordersDetail" role="dialog">
    <div class="modal-dialog">
        {%  set orderService =  entity.id  | getOrderService %}
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Order Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="ordersDetailTable">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{ entity.name }}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{entity.email}}</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>{{entity.phone}}</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>{{entity.address}}</td>
                            </tr>
                            <tr>
                                <td>Quote Date:</td>
                                <td>{{entity.quoteDate | date('m/d/Y') }}</td>
                            </tr>
                            <tr>
                                <td>Expires:</td>
                                <td>{{entity.expires | date('m/d/Y') }}</td>
                            </tr>
                            <tr>
                                <td>Quotion:</td>
                                <td>{{entity.quotation}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="orderServicesTable">
                        <thead>
                            <tr>
                                <th>Services</th>
                                <th></th>
                                <th>Specification</th>

                                <th>Quantity</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set subTotal = 0 %}
                            {% for  orderdetail in orderService %}
                                {% set subTotal = subTotal + orderdetail.variation_id  | getVariationcost  * orderdetail.qty %}
                                <tr>
                                    <td>{{  orderdetail.service_id  | getServiceName }} </td>
                                    <td></td>
                                    <td>{{  orderdetail.meta  | getParameters }}{{  orderdetail.variation_id | getAlterText }}</td>
                                    <td><span {#onClick="chnageValue({{orderdetail.id}});"#} id="qtyvalue-{{orderdetail.id}}">{% if orderdetail.qty is empty %} 1 {% else %} {{orderdetail.qty }}{% endif %}</span>
                                        <input type="text" id="qty-{{orderdetail.id}}" value="{{orderdetail.qty }}" onblur="checkValue(this,{{ orderdetail.variation_id  | getVariationcost }} ,{{orderdetail.id}} )" style="display: none;height:30px;width:30px;" />
                                    </td>
                                    <td><span class="total-ammount" id="ammount-{{orderdetail.id}}">
                                            ${{ orderdetail.variation_id  | getVariationcost * orderdetail.qty }}
                                        
                                        </span></td>
                                </tr>
                            {% endfor %}
                            
                            <tr>
                                <td>Installation Cost</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td> {% set installationCost = 0 %}
                                            {% for orderdetail in orderService %}
                                                {% set installationCost = installationCost + orderdetail.installationcost_id | getInstallationcost * orderdetail.qty  %}
                                            {% endfor %}
                                            <span id="installationCost">${{ installationCost }}</span></td>
                            </tr>
                            <tr>
                                <td>Service Cost</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td>{% if(entity.serviceCost is not empty) %}${{ entity.serviceCost }} {% else %} $0 {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Travel Cost</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td>{% if(entity.travelCost is not empty) %}${{ entity.travelCost }} {% else %} $0 {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Other Cost</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td>{% if(entity.other is not empty) %}${{ entity.other }} {% else %} $0 {% endif %}</td>
                            </tr>
                            
                            <tr>
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td id="sub-total">${{ subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>

<!--Orders view popup end-->