<!DOCTYPE html>
<html>
    <head>
        <title>Expand Track</title>
    </head>
    {%  set orderService =  entity.id  | getOrderService %}
    <body>
        <table cellpadding="0" cellspacing="0" border="0" width="1000" style=" margin:0 auto;font-family: arial;
               font-size: 16px; color: #6c6a6b;;">



            <thead>
                <tr>
                    <th colspan="2" style="text-align: left;"><img src="http://95.85.14.116/bundles/expandatrck/images/logo.png" height="70px" width="375px" alt=""></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" style=" color: #383433;font-size: 44px;    letter-spacing:10px;    text-align: right; padding: 0 0 10px;">INVOICE </td>
                </tr>
                <tr>
                    <td style="line-height: 30px;color: #6c6a6b;">288 Main North Road<br>Redwood 8051<br>Phone: 03 3545525<br>G.S.T Number: 109396583<br>Email: expandatrack@gmail.com<br>Website: www.expandatrack.co.nz </td>
                    <td style="vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" border="0" style=" float: right;">
                            <tr>
                                <td style="border: 1px solid #ccc;color: #444;padding: 20px;">
                                    <span style="color:#148FED">Invoice Date:&nbsp;</span>{{ entity.quoteDate | date('d/m/Y') }}</td></tr>

                           

                            <tr><td style="border: 1px solid #ccc;border-top:0; color: #444;padding: 20px;"><span style="color:#148FED">Invoice No:&nbsp;</span>{{ entity.quoteno }}</td></tr>



                        </table>


                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" padding: 20px;"></td>
                </tr>
                <tr>
                    <td style="  background: #0085ee none repeat scroll 0 0;color: #fff;    line-height: 26px;padding: 20px 0 30px 50px;vertical-align: top;">
                        <h2 style="font-weight: bold;">Customer Details </h2>
                        Customer Name/Company:{{entity.name}}<br>Address:{{entity.address}}<br>
                       Mobile:{{entity.phone}}<br>Phone;<br> Email:<a style="color:#fff;" href="mailto:{{ entity.email }}">{{ entity.email }}</a>

                    </td>

                    <td style=" background: #148FED none repeat scroll 0 0;color: #fff;    line-height: 26px;padding: 20px 0 30px 50px;border-left: 1px solid #2798f6;vertical-align: top;">
                        <h3>Direct Credit Details</h3>
                        <p>Expandatrack Ltd</p>
                         <p>ANZ</p>
                         <p>0107980011998 46</p>
                        {#<h2>To Accept this Quote</h2>
                        Please confirm by email or by mailing your acceptance to<br>Expandtrack Ltd<br>
                        288 Main North Road<br> Redwood 8051<br>
                        &nbsp;<br>#}
                        
                        <img src="http://95.85.14.116/bundles/expandatrck/images/Logo_inner.png" alt="" height="70px" width="375px">

                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" padding: 20px;"></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <th style="color: #333;font-size: 24px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc; padding-bottom: 10px; text-transform: uppercase;">DESCRIPTION </th>
                                
                                
                                <th style="color: #333;font-size: 24px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;">QTY</th>
                                <th style="color: #333;font-size: 24px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;"></th>

                               
                                
                                <th style=" border-bottom: medium none;color: #333; font-size: 24px;font-weight: normal;padding: 0 5px;text-align: left;">&nbsp;</th>

                                <th style="color: #333;font-size: 24px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding-bottom: 10px;text-transform: uppercase;">Amount</th>

                            </tr>
                            <tr><td colspan="5" style="padding:5px;"></td></tr>
                                {% set subTotal = 0 %}
                                {% for orderdetail in orderdetails %}
                                    {% set subTotal = subTotal + orderdetail.getService.getId() | getServiceCost(orderdetail.getOrders().getId()) + orderdetail.getService.getId() | getInvoiceParametersCost(orderdetail.getOrders().getId())  %}
                                <tr>
                                    <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                        padding: 5px; color: #444; font-size: 17px;">{{ orderdetail.getService().getServiceName()  }}</td>
                                    
                                    <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                        padding: 5px;">{{  orderdetail.getService.getId() | getTotalService(orderdetail.getOrders().getId())}}</td>
                                    
                                    <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                        padding: 5px; color: #444; font-size: 17px;"></td>
                                     <td>&nbsp;</td>
                                    <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                        padding: 5px;">${{ orderdetail.getService.getId() | getServiceCost(orderdetail.getOrders().getId())   + orderdetail.getService.getId() | getInvoiceParametersCost(orderdetail.getOrders().getId()) }} </td>


                                </tr>
                                <tr><td colspan="5" style="padding:5px;"></td></tr>
                                {% endfor %}




                            <tr>
                                <td colspan="3" style=" background: #383435 none repeat scroll 0 0;padding: 5px; color: #fff; font-size: 17px; text-align: right;"><b>Sub Total</b></td>


                                <td>&nbsp;</td>
                                <td style=" background: #0085EE none repeat scroll 0 0;
                                    padding: 5px;color: #fff;"><b>${{ subTotal }}</b></td>


                            </tr>

                            <tr><td colspan="5" style="padding:5px;"></td></tr>
                            
                            <tr>
                                <td colspan="3" style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 17px; text-align: left;">Installation Cost</td>


                                <td>&nbsp;</td>
                                <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">{% set installationCost = 0 %}
                                    {% for orderdetail in invoice_details %}
                                        {% set installationCost = installationCost + orderdetail.getInstallationcost().getCost()  * orderdetail.qty %}
                                    {% endfor %}
                                    {% if(entity.isManualInclude and entity.isInclude) %} 
                                        
                                         ${{ 0 }}
                                   {% elseif(entity.isManualInclude) %}
                                        ${{ installationCost }}
                                    {% else %}
                                        {% set installationCost = entity.manualCost  %}
                                        ${{ installationCost }}
                                    {% endif %}</td>
                                </td>


                            </tr>
                            

                            <tr><td colspan="5" style="padding:5px;"></td></tr>
                           
                            <tr>
                                <td colspan="3" style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 17px; text-align: left;">Service Cost</td>


                                <td>&nbsp;</td>
                                <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">
                                   
                                    ${{ (entity.serviceCost) ? entity.serviceCost : 0 }}</td>


                            </tr>
                             <tr><td colspan="5" style="padding:5px;"></td></tr>
                            <tr>
                                <td colspan="3" style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 17px; text-align: left;">Travel Cost</td>


                                <td>&nbsp;</td>
                                <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">
                                   
                                    ${{ (entity.travelCost) ? entity.travelCost :  0 }}</td>


                            </tr>
                             <tr><td colspan="5" style="padding:5px;"></td></tr>
                            <tr>
                                <td colspan="3" style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 17px; text-align: left;">{{ (entity.otherText) ? entity.otherText : 'other cost' }}</td>


                                <td>&nbsp;</td>
                                <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">
                                   
                                    ${{ (entity.other) ? entity.other : 0 }}</td>


                            </tr>
                             <tr><td colspan="5" style="padding:5px;"></td></tr>
                            <tr>
                                <td colspan="3" style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 17px; text-align: left;">Your Invoice is G.S.T Inclusive and contains a G.S.T amount of:
                                {% if(entity.isInclude) %}
                                            ${{  ((subTotal  + entity.serviceCost + entity.travelCost + entity.other) * 0.15) |number_format(2, '.', ',')  }}
                                            {% else %}
                                               ${{ ((subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other) * 0.15) |number_format(2, '.', ',') }} 
                                             {% endif %} 
                                </td>


                                <td>&nbsp;</td>
                                <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">
                                   
                                   </td>


                            </tr>
                            
                            <tr><td colspan="5" style="padding:5px;"></td></tr>
                            <tr>
                                <td colspan="3" style=" background: #0085EE none repeat scroll 0 0;padding: 5px; color: #fff; font-size: 17px; text-align: left;"><b>Total</b></td>


                                <td>&nbsp;</td>
                                 {% if(entity.isInclude and entity.isManualInclude ) %}
                                <td style=" background: #0085EE none repeat scroll 0 0;
                                    padding: 5px;color: #fff;"><b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other }}</b></td>
                                {% elseif (entity.isInclude and  entity.isManualInclude == 0) %}
                                    <td style=" background: #0085EE none repeat scroll 0 0;
                                    padding: 5px;color: #fff;"><b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + installationCost }}</b></td>
                                {% elseif (entity.isInclude ==0 and  entity.isManualInclude) %}
                                    <td style=" background: #0085EE none repeat scroll 0 0;
                                    padding: 5px;color: #fff;"><b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other +  installationCost }}</b></td>
                                {% else %}
                                    <td style=" background: #0085EE none repeat scroll 0 0;
                                    padding: 5px;color: #fff;"><b>${{ subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost }}</b></td>
                                {% endif %}

                            </tr>
                            

                        </table>



                    </td>
                </tr>

                <tr><td colspan="2" style="color: #343331;font-size: 24px;    padding: 35px 0 20px;    text-align: center;">We Thankyou For Your Business</td></tr>

               
                
            </tbody>
        </table>



    </body>
</html>

