<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Expand Track</title>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
            .wrapper{font-family: arial;font-size: 16px; color: #6c6a6b;}
            .section{width:100%;}
            .heading{width:100%;padding: 10px;}
            .clearfix{clear: both;}
            .row{width:100%;background-color: #eee;padding: 10px;}
            .col1{width: 60%;font-weight:bold;float:left;text-transform: uppercase;}
            .col2{width: 10%;font-weight:bold;float:left;text-align:center;text-transform:uppercase;}
            .row .col1{font-size:13px;font-weight:normal!important;text-transform:capitalize!important;}
            .row .col2{font-size:13px;font-weight:normal!important;text-transform:capitalize!important;}
            .footer{width:100%;margin-top:20px;}
             .footer .subtotal{background: #383435;width:100%;}
            .footer .subtotal div:nth-child(2){background-color: #0085EE;padding:10px;color:#fff;}

            .footer .row{background: #eee;width:100%;border-bottom: 1px solid !important;padding:0 10px;}
            .footer .row div:nth-child(1){width:90%;float:left;text-align:left;padding: 10px 0;}
            .footer .row div:nth-child(2){width:10%;float:left;text-align:center;padding: 10px 0;}

            .footer .row-end{background: #0085EE;color:#fff;width:100%;border-bottom:1px solid !important;padding: 0 10px;}
            .footer .row-end div:nth-child(1){width:90%;float:left;text-align:left;padding:10px 0;}
            .footer .row-end div:nth-child(2){width:10%;float:left;text-align:center;padding:10px 0;}

        </style> 
    </head>
    {%  set orderService =  entity.id  | getOrderService %}
    <body>
        <table cellpadding="0" cellspacing="0" border="0" width="1000" style=" margin:0 auto;font-family: arial;
               font-size: 16px; color: #6c6a6b;page-break-inside: auto">
            <tbody>
                <tr>
                    <td colspan="2" style="text-align: left;"><img src="http://95.85.14.116/bundles/expandatrck/images/logo.png" height="70px" width="375px" alt=""></td>
                </tr>
                <tr>
                    <td colspan="2" style=" color: #383433;font-size: 18px;    letter-spacing:10px;    text-align: right; padding: 0 0 10px;">QUOTE </td>
                </tr>
                <tr style="page-break-inside:avoid; page-break-after:auto;">
                    <td style="line-height: 30px;color: #6c6a6b;">288 Main North Road<br>Redwood 8051<br>Phone: 03 3545525<br>G.S.T Number: 109396583<br>Email: expandatrack@gmail.com<br>Website: www.expandatrack.co.nz </td>
                    <td style="vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" border="0" style=" float: right;">
                            <tr>
                                <td style="border: 1px solid #ccc;color: #444;padding: 20px;">
                                    <span style="color:#148FED">Quote Date:&nbsp;</span>{{ entity.quoteDate | date('d/m/Y') }}</td></tr>

                            <tr><td style="border: 1px solid #ccc; border-top:0;color: #444;padding: 20px;"><span style="color:#148FED"> Quote Expire:&nbsp;</span>{{ entity.expires | date('d/m/Y') }}</td></tr>

                            <tr><td style="border: 1px solid #ccc;border-top:0; color: #444;padding: 20px;"><span style="color:#148FED">Quote No:&nbsp;</span>{{ entity.quoteno }}</td></tr>



                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style=" padding: 20px;"></td>
                </tr>
                <tr style="page-break-inside:avoid; page-break-after:auto;">
                    <td style="  background: #0085ee none repeat scroll 0 0;color: #fff;    line-height: 26px;padding: 20px 0 30px 50px;vertical-align: top;">
                        <h2 style="font-weight: bold;">Customer Details </h2>
                        Customer Name/Company:{{entity.name}}<br>Address:{{entity.address}}
                        <br> Mobile:{{entity.phone}}<br>Phone;<br> Email:<a style="color:#fff;" href="mailto:{{ entity.email }}">{{ entity.email }}</a>

                    </td>

                    <td style=" background: #148FED none repeat scroll 0 0;color: #fff;    line-height: 26px;padding: 20px 0 30px 50px;border-left: 1px solid #2798f6;vertical-align: top;">
                        <h2>To Accept this Quote</h2>
                        Please confirm by email or by mailing your acceptance to<br>Expandatrack Ltd<br>
                        288 Main North Road<br> Redwood 8051<br>
                        &nbsp;<br>

                        <img src="http://95.85.14.116/bundles/expandatrck/images/Logo_inner.png" alt="" height="70px" width="375px">

                    </td>
                </tr>
                <tr style="page-break-inside:avoid; page-break-after:auto;">
                    <td colspan="2" style=" padding: 20px;"></td>
                </tr>
                </tbody>
        </table>
                        
        <div class="wrapper" style="font-family:arial;font-size:16px;color:#6c6a6b;">
            {% set subTotal = 0 %}
            {% set count = 0 %}
            <div class="section" style="width:100%;">
                {% for orderdetails in result %}
                    {% set count = count+1 %}
                    {% if(count==1) %}   
                        <div class="heading" style="width:100%;padding:10px;"> 
                            <div class="col1" style="width:60%;font-weight:bold;float:left;text-transform: uppercase;">{{ (orderdetails['key'] ) ? orderdetails['key'] : 'Unknown'}}</div>
                            <div class="col2" style="width:10%;font-weight:bold;float:left;text-align: center;text-transform:uppercase;">COST</div>
                            <div class="col2" style="width:10%;font-weight:bold;float:left;text-align: center;text-transform:uppercase;">QTY</div>
                            <div class="col2" style="width:10%;font-weight:bold;float:left;text-align: center;text-transform:uppercase;">IMAGE</div>
                            <div class="col2" style="width:10%;font-weight:bold;float:left;text-align: center;text-transform:uppercase;">AMOUNT</div>
                            <div class="clearfix" style="clear:both;"></div>
                        </div>
                    {% else  %}
                        <div class="heading" style="width:100%;padding:10px;"> 
                            <div class="col1" style="width:60%;font-weight:bold;float:left;text-transform: uppercase;">{{ (orderdetails['key'] ) ? orderdetails['key'] : 'Unknown'}}</div>
                            <div class="col2" style="width:10%;font-weight:bold;float:left;text-align: center;text-transform:uppercase;"></div>
                            <div class="col2" style="width:10%;font-weight:bold;float:left;text-align: center;text-transform:uppercase;"></div>
                            <div class="col2" style="width:10%;font-weight:bold;float:left;text-align: center;text-transform:uppercase;"></div>
                            <div class="col2" style="width:10%;font-weight:bold;float:left;text-align: center;text-transform:uppercase;"></div>
                            <div class="clearfix" style="clear:both;"></div>
                        </div>
                    {% endif %}
                    {% for orderdetail in orderdetails['value'] %}
                        {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                            {% set subTotal = subTotal + orderdetail.getVariation().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                        {% else %}
                            {% set subTotal = subTotal + orderdetail.getService().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                        {% endif %}
                        <div class="row" style="width:100%;background-color:#eee;padding:10px;">
                            <div class="col1" style="width:60%;float:left;font-size:13px;font-weight:normal!important;text-transform:capitalize!important;">{{ orderdetail.getService().getServiceName()  }}:{{  orderdetail.meta  | getCustomerParameters }}{{  orderdetail.getVariation().getAlterText() }}</div>
                            <div class="col2" style="text-align: center;width:10%;float:left;font-size:13px;font-weight:normal!important;text-transform:capitalize!important;"></div>
                            <div class="col2" style="text-align: center;width:10%;float:left;font-size:13px;font-weight:normal!important;text-transform:capitalize!important;">{% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                ${{ orderdetail.getVariation().getCost()  + orderdetail.getParameter() | getParametersCost }}
                            {% else %}
                                ${{ orderdetail.getService().getCost()  + orderdetail.getParameter() | getParametersCost }}
                                {% endif %}</div>
                                <div class="col2" style="text-align: center;width:10%;float:left;font-size:13px;font-weight:normal!important;text-transform:capitalize!important;">
                                    {{orderdetail.qty}}
                                </div>
                                <div class="col2" style="text-align: center;width:10%;float:left;font-size:13px;font-weight:normal!important;text-transform:capitalize!important;">
                                    {% if  orderdetail.getVariation().getPath() is not empty  %}
                                        <img hieght="50px" width="50px" src="{{ 'http://95.85.14.116/uploads/variation/' ~ orderdetail.getVariation().getPath() }}"/>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </div>
                                <div class="col2" style="text-align: center;width:10%;float:left;font-size:13px;font-weight:normal!important;text-transform:capitalize!important;">
                                    {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                        ${{ orderdetail.getVariation().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                    {% else %}
                                        ${{ orderdetail.getService().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                    {% endif %}
                                </div>
                                <div class="clearfix" style="clear:both;"></div>
                            </div>
                            {% endfor %}
                                {% endfor %}
                                </div>

                                
                                <div class="footer" style="width:100%;margin-top:20px;">
                                    <div class="subtotal" style="background:#383435;width:100%;">
                                        <div style="width:86%;float: left;text-align: left;padding: 10px;">Sub Total</div>
                                        <div style="width:10%;float: right;text-align: center;background-color:#0085EE;padding:10px;color:#fff;">${{ subTotal }}</div>
                                        <div class="clearfix" style="clear:both"></div>
                                    </div>
                                    <div class="row" style="width:100%;background-color:#eee;padding:10px;">
                                        <div style="width:90%;float:left;text-align:left;padding:10px 0;">Installation Cost</div>
                                        <div style="width:10%;float:left;text-align:center;padding:10px 0;">{% set installationCost = 0 %}
                                            {% for orderdetail in orderdetails %}
                                                {% set installationCost = installationCost + orderdetail.getInstallationcost().getCost()  * orderdetail.qty %}
                                            {% endfor %}
                                            {% if(entity.isManualInclude and entity.isInclude) %} 

                                                ${{ 0 }}
                                            {% elseif(entity.isManualInclude) %}
                                                ${{ installationCost }}
                                            {% else %}
                                                {% set installationCost = entity.manualCost  %}
                                                ${{ installationCost }}
                                            {% endif %}</div>
                                        <div class="clearfix" style="clear:both"></div>
                                    </div>

                                    <div class="row" style="width:100%;background-color:#eee;padding:10px;">
                                        <div style="width:90%;float:left;text-align:left;padding:10px 0;">Service Cost</div>
                                        <div style="width:10%;float:left;text-align:center;padding:10px 0;">${{ (entity.serviceCost) ? entity.serviceCost : 0 }}</div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="row" style="width:100%;background-color:#eee;padding:10px;">
                                        <div style="width:90%;float:left;text-align:left;padding:10px 0;">Travel Cost</div>
                                        <div style="width:10%;float:left;text-align:center;padding:10px 0;">${{ (entity.travelCost) ? entity.travelCost :  0 }}</div>
                                        <div class="clearfix" style="clear:both"></div>
                                    </div>
                                    <div class="row" style="width:100%;background-color:#eee;padding:10px;">
                                        <div style="width:90%;float:left;text-align:left;padding:10px 0;">{{ (entity.otherText) ? entity.otherText : 'other cost' }}</div>
                                        <div style="width:10%;float:left;text-align:center;padding:10px 0;">${{ (entity.other) ? entity.other : 0 }}</div>
                                        <div class="clearfix" style="clear:both"></div>
                                    </div> 
                                    <div class="row-end" style="background: #0085EE;color:#fff;width:100%;border-bottom:1px solid !important;padding:0 10px;">
                                        <div style="width:90%;float:left;text-align:left;padding:10px 0;">Total</div>
                                        <div style="width:10%;float:left;text-align:center;padding:10px 0;">
                                            {% if(entity.isInclude and entity.isManualInclude ) %}
                                                <b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other }}</b>
                                            {% elseif (entity.isInclude and  entity.isManualInclude == 0) %}
                                                <b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost }}</b>
                                            {% elseif (entity.isInclude ==0 and  entity.isManualInclude) %}
                                                <b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other +  installationCost }}</b>
                                            {% else %}
                                                <b>${{ subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost }}</b>
                                            {% endif %}
                                        </div>
                                        <div class="clearfix" style="clear:both"></div>
                                    </div>
                                </div>
                            </div>
                {#<tr>
                    <td colspan="2">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="page-break-inside:avoid;" >
                            {% set subTotal = 0 %}
                            {% set count = 0 %}
                            {% for orderdetails in result %}
                                {% set count = count+1 %}
                                <tr>
                                    <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc; padding-bottom:11px; text-transform: uppercase;">{{ (orderdetails['key'] ) ? orderdetails['key'] : 'Unknown'}} </th>
                                        {% if(count==1) %}    
                                        <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;">cost </th>

                                        <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;">Qty</th>
                                        <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;">Image</th>

                                        <th style=" border-bottom: medium none;color: #333; font-size: 18px;font-weight: normal;padding: 0 5px;text-align: left;">&nbsp;</th>

                                        <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding-bottom: 10px;text-transform: uppercase;">Amount</th>
                                        {% else %}
                                        <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;">&nbsp;</th>
                                        <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;">&nbsp;</th>

                                        <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;">&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th style="color: #333;font-size: 18px; font-weight: normal;    text-align: left;; border-bottom: 1px solid #ccc;padding: 0 15px 10px;text-transform: uppercase;">&nbsp;</th>
                                        {% endif %}
                                </tr>
                                <tr><td colspan="5" style="padding:5px;"></td></tr>

                                {% for orderdetail in orderdetails['value'] %}
                                    {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                        {% set subTotal = subTotal + orderdetail.getVariation().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                                    {% else %}
                                        {% set subTotal = subTotal + orderdetail.getService().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                                    {% endif %}
                                    <tr>
                                        <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                            padding: 5px; color: #444; font-size: 14px;">{{ orderdetail.getService().getServiceName()  }}:{{  orderdetail.meta  | getCustomerParameters }}{{  orderdetail.getVariation().getAlterText() }}</td>

                                        <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                            padding: 5px;">
                                            {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                                ${{ orderdetail.getVariation().getCost()  + orderdetail.getParameter() | getParametersCost }}
                                            {% else %}
                                                ${{ orderdetail.getService().getCost()  + orderdetail.getParameter() | getParametersCost }}
                                            {% endif %}

                                        </td>
                                        <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                            padding: 5px; color: #444; font-size: 14px;">{{orderdetail.qty}}</td>
                                        {% if  orderdetail.getVariation().getPath() is not empty  %}

                                            <td><img hieght="50px" width="50px" src="{{ 'http://95.85.14.116/uploads/variation/' ~ orderdetail.getVariation().getPath() }}"/></td>
                                            {% else %}
                                            <td>N/A</td>
                                        {% endif %}

                                        <td>&nbsp;</td>
                                        <td style=" background: #f7f7f7 none repeat scroll 0 0;
                                            padding: 5px;">
                                            {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                                ${{ orderdetail.getVariation().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                            {% else %}
                                                ${{ orderdetail.getService().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                            {% endif %}

                                        </td>


                                    </tr>
                                    <tr><td colspan="5" style="padding:5px;"></td></tr>
                                    {% endfor %}
                                {% endfor %}




                            <tr>
                                <td colspan="4" style=" background: #383435 none repeat scroll 0 0;padding: 10px; color: #fff; font-size: 14px; text-align: right;"><b>Sub Total</b></td>



                                <td>&nbsp;</td>
                                <td style=" background: #0085EE none repeat scroll 0 0;
                                    padding: 5px;color: #fff;"><b>${{ subTotal }}</b></td>


                            </tr>

                            <tr><td colspan="5" style="padding:5px;"></td></tr>
                            <tr>
                                <td colspan="4" style="border-bottom: 10px solid #fff;background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 14px; text-align: left;">Installation Cost</td>



                                <td>&nbsp;</td>
                                <td style=" border-bottom: 10px solid #fff; background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">{% set installationCost = 0 %}
                                    {% for orderdetail in orderdetails %}
                                        {% set installationCost = installationCost + orderdetail.getInstallationcost().getCost()  * orderdetail.qty %}
                                    {% endfor %}
                                    {% if(entity.isManualInclude and entity.isInclude) %} 

                                        ${{ 0 }}
                                    {% elseif(entity.isManualInclude) %}
                                        ${{ installationCost }}
                                    {% else %}
                                        {% set installationCost = entity.manualCost  %}
                                        ${{ installationCost }}
                                    {% endif %}</td>


                            </tr>

                            <tr>
                                <td colspan="4" style=" border-bottom: 10px solid #fff; background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 14px; text-align: left;">Service Cost</td>



                                <td>&nbsp;</td>
                                <td style=" border-bottom: 10px solid #fff; background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">

                                    ${{ (entity.serviceCost) ? entity.serviceCost : 0 }}</td>


                            </tr>
                            <tr>
                                <td colspan="4" style=" border-bottom: 10px solid #fff; background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 14px; text-align: left;">Travel Cost</td>



                                <td>&nbsp;</td>
                                <td style=" border-bottom: 10px solid #fff; background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">

                                    ${{ (entity.travelCost) ? entity.travelCost :  0 }}</td>


                            </tr>
                            <tr>
                                <td colspan="4" style=" border-bottom: 10px solid #fff; background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px; color: #444; font-size: 14px; text-align: left;">{{ (entity.otherText) ? entity.otherText : 'other cost' }}</td>



                                <td>&nbsp;</td>
                                <td style=" border-bottom: 10px solid #fff; background: #f7f7f7 none repeat scroll 0 0;
                                    padding: 5px;">

                                    ${{ (entity.other) ? entity.other : 0 }}</td>


                            </tr>
                            <tr><td colspan="5" style="padding:5px;"></td></tr>
                            <tr>
                                <td colspan="4" style=" border-bottom: 20px solid #fff;background: #0085EE none repeat scroll 0 0;padding: 15px; color: #fff; font-size: 17px; text-align: left;"><b>Total</b></td>



                                <td>&nbsp;</td>
                                {% if(entity.isInclude and entity.isManualInclude ) %}
                                    <td style=" border-bottom: 10px solid #fff; background: #0085EE none repeat scroll 0 0;
                                        padding: 5px;color: #fff;"><b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other }}</b></td>
                                {% elseif (entity.isInclude and  entity.isManualInclude == 0) %}
                                    <td style=" border-bottom: 10px solid #fff; background: #0085EE none repeat scroll 0 0;
                                        padding: 5px;color: #fff;"><b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + installationCost }}</b></td>
                                {% elseif (entity.isInclude ==0 and  entity.isManualInclude) %}
                                    <td style=" border-bottom: 10px solid #fff; background: #0085EE none repeat scroll 0 0;
                                        padding: 5px;color: #fff;"><b>${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other +  installationCost }}</b></td>
                                {% else %}
                                    <td style=" border-bottom: 10px solid #fff; background: #0085EE none repeat scroll 0 0;
                                        padding: 5px;color: #fff;"><b>${{ subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost }}</b></td>
                                {% endif %}

                            </tr>



                        </table>



                    </td>
                </tr>#}


{#                <tr><td colspan="2" style="color: #343331;font-size: 24px;    padding: 35px 0;    text-align: center;">We look Forward to hearing from you! </td></tr>#}
                <!--tr>
                    <td colspan="2" style="color: #333;font-size: 20px;padding-bottom: 20px;    text-align: left;;">Office Use Only</td>


                </tr-->
                <!--tr>
                    <td colspan="2" style="color: #333;padding-bottom: 20px;text-align: left;">

                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td style=" border: 1px solid #ccc;font-size: 18px;padding: 5px 20px 20px;vertical-align: top; border-right: 0;">Order Conf</td>
                                <td style="border: 1px solid #ccc;font-size: 18px;padding: 5px 20px 20px;vertical-align: top; border-right: 0;">Alts Org</td>
                                <td style=" border: 1px solid #ccc;font-size: 18px;padding: 5px 20px 20px;vertical-align: top;border-right: 0;">Tks Org</td>
                                <td style="border: 1px solid #ccc;font-size: 18px;padding: 5px 20px 20px;vertical-align: top; border-right: 0;">Blinds Org</td>
                                <td style=" border: 1px solid #ccc;font-size: 18px;padding: 5px 20px 20px;vertical-align: top;border-right: 0;">Install Date</td>
                                <td style="border: 1px solid #ccc;font-size: 18px;padding: 5px 20px 20px;vertical-align: top;">Comp Date</td>



                            </tr>




                        </table>


                    </td>

                    

                </tr-->
{#            </tbody>#}
{#        </table>#}



    </body>
</html>

