@media screen and (min-width:992px) and (max-width:1199px){
    /*Our team*/
    .salesPresentative h4 {
        font-size: 12px;
    }
    .orders thead th:last-child, .orders tbody td:last-child {
        width: auto;
    }

    /*Our team popup*/
    .editProfilePopup .modal-dialog {
        max-width: 95%;
    }
}
@media screen and (min-width:768px) and (max-width:991px){

    /*Installation*/
    .serviceTopBarRight .input-group {
        width: 200px;
    }
    .orders thead th:last-child, .orders tbody td:last-child {
        width: auto;
    }

    /*Our team*/
    .salesPresentative h4 {
        display: block;
        margin: 0 0 15px !important;
    }
    .salesPresentative .serviceTopBarRight {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .salesPresentative .serviceTopBarRight form {
        display: inline-block;
    }
    .serviceTopBar.salesPresentative h4 {
        text-align: center;
    }
    /*Our team popup*/
    .editProfilePopup .modal-dialog {
        max-width: 95%;
    }
    .modal-dialog{
        max-width: 95% !important;
        margin: 50px auto !important;
    }
}
@media screen and (max-width:767px){

    .h3, h3 {
        font-size: 20px;
    }
    .h4, h4 {
        font-size: 16px;
    }
    img.logo {
        max-width: 240px;
    }
    table tr td:first-child {
        font-size: 14px;
    }
    table tr td {
        letter-spacing: 0px;
        font-size: 13px;
    }

    .table-responsive {
        margin-bottom: 0;
        border: none;
    }
    label {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .modal-dialog{
        max-width: 95% !important;
        margin: 50px auto !important;
    }
    /*Header*/
    ul.leftMenu li a {
        padding: 14px;
        padding: 10px;
    }
    .profileImage {
        height: 50px;
        width: 50px;
    }
    h3.logo {
        margin: 15px 0;
    }

    /*Add new order*/
    h2.pageTitle {
        font-size: 18px;
    }
    .mainHeader {
        padding: 10px 0;
    }
    .contentAreaInner {
        margin: 0 0 15px;
    }
    .contentAreaInner form {
        padding: 0;
    }
    .addNewOrder form {
        margin-top: 15px;
    }
    h2.pageTitle {
        padding: 20px 15px;
        margin: 0;
    } 

    /*Add new Service*/
    .rightMenu {
        margin: 10px 0;
    }
    .serviceTopBar {
        padding: 20px 0;
    }
    .serviceTopBar h4 {
        display: inline-block;
        text-align: left;
        margin: 0 0 10px;
        font-size: 14px;
    }
    .serviceTopBarRight{
        width: auto;
    }
    .serviceTopBarRight form {
        margin-left: 0;
    }
    .installATIONModal label {
        margin: 10px 0;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .button-group {
        margin: 10px 0 20px;
    }
    /*Installation*/
    .serviceTopBarRight .input-group {
        width: 180px;
        margin-left: 5px;
    }
    .orders thead th:last-child, .orders tbody td:last-child {
        width: auto;
    }
    .newInstallationPopup .modal-body {
        padding: 15px;
    }
    .installATIONModal .form-group {
        margin-bottom: 0;
    }
    .newInstallationPopup .form-group {
        margin: 0;
    }
    /*Order edit*/
    table.orderServicesTable th:first-child {
        padding-left: 40px;
    }
    table.orderServicesTable td:first-child {
        padding-left: 40px;
    }
    table.orderServicesTable td:last-child {
        width: auto;
    }

    /*Orders*/
    .orders tr td:first-child {
        padding-left: 20px;
    }
    .orders thead th:first-child {
        padding-left: 20px;
    }
    table thead th:last-child, table tbody tr td:last-child {
        padding-right: 20px !important;
    }
    table thead th:first-child, table tbody tr td:first-child {
        padding-left: 20px !important;
    }

    /*Our team*/
    .salesPresentative h4 {
        display: block;
        margin: 0 0 15px !important;
    }
    .salesPresentative .serviceTopBarRight {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .salesPresentative .serviceTopBarRight form {
        display: inline-block;
    }
    .serviceTopBar.salesPresentative h4 {
        text-align: center;
    }

    /*Our team popup*/
    .editProfilePopup .modal-body {
        padding: 15px 0;
        display: inline-block;
    }
    .editProfilePopup .btn-orange {
        margin-top: 15px;
    }
    /*Parameter*/
    .addParameterPopup .modal-body {
        padding: 0 60px 15px;
    }
    .addParameterPopup .form-group {
        margin-bottom: 15px;
    }

    /*variaton*/
    .addVariationModal .modal-body {
        padding: 15px 15px 0;
    }
    .addVariationModal .form-group {
        margin-bottom: 0px;
    }
    .addVariationModal label {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .addVariationModal .btn-orange {
        margin: 15px 0 !important;
    }

    /*User Edit modal*/
    .showPass {
        height: 210px !important;
    }
}

@media screen and (max-width: 667px){

    /*Top header*/
    .serviceTopBarRight input {
        font-size: 14px;
    }
    .serviceTopBarRight select {
        font-size: 14px;
    }

    /*Add new service modal*/
    .installATIONModal .modal-body {
        padding: 15px 15px;
    }

    /*Our team*/
    .salesPresentative .serviceTopBarRight .input-group {
        width: 170px;
    }

    /*Quotion*/
    .offceUseOnly th {
        font-size: 16px;
    }
    .invoiceFirst tr td span {
        font-size: 14px;
    }
    .quotationTable th {
        font-size: 16px;
    }
    .quotationTable h2 {
        font-size: 22px;
    }
    .offceUseOnly {
        overflow: auto;
    }

    /*Quotion for customer*/
    table.customerDetail td {
        padding: 20px 15px;
        vertical-align: top;
        display: inline-block !important;
        width: 100%;
    }
    .quoteForcustomerCare table {
        float: left;
    }
    .quoteForcustomerCare h2 {
        text-align: left;
        letter-spacing: 15px;
    }

    /*Service*/
    .serviceTable tbody tr td {
        padding: 20px;
    }



}
@media screen and (max-width: 568px){
    a{
        font-size: 14px;
    }
    .serviceTopBarRight form {
        margin-bottom: 5px;
    }
    .serviceTopBar.salesPresentativeTopBar .serviceTopBarRight {
        margin-top: 10px;
    }
    .serviceTopBarRight form {
        margin-bottom: 5px;
    }
    .serviceTopBar {
        padding: 15px 0;
    }
    .modal-body {
        width: 100%;
    }
    .uploadPhoto {
        width: 100px;
        height: 100px;
    }
    .fileButton {
        right: -236px;
        bottom: -5px;
    }
    /*Footer*/
    footer {
        padding: 10px 10px;
    }
    footer p {
        font-size: 12px;
    }
    /*Installation*/
    .serviceTopBarRight .input-group {
        width: 100%;
    }
    .serviceTopBarRight .input-group + .input-group {
        margin-left: 0;
        margin-top: 15px;
    }
    .addNewButton {
        max-width: 100%;
    }
    .btn-orange {
        margin: 0;
    }
    .btn-wrapper {
        margin: 15px 0 0;
    }
    /*invoice*/
    .customerDetailLeft p, .customerDetailRight p {
        font-size: 14px;
    }

    /*Our team*/
    .salesPresentative .serviceTopBarRight .input-group {
        width: 100%;
    }
    /*Parameter*/
    .addParameterPopup .modal-body {
        padding: 0 0 15px;
    }
    .addParameterPopup .form-group {
        margin-bottom: 15px;
    }

    /*Add new service*/
    .installATIONModal .btn-orange {
        margin: 15px 0 8px;
    }

    /*Quotion*/
    .quotationTable h2 {
        font-size: 18px;
        margin: 15px 0;
        display: inline-block;
        width: 100%;
    }
    /*Service*/
    td.servicesButtons button {
        clear: both;
        float: right;
        width: 50%;
        margin-bottom: 10px;
    }
    /*Add New Service Modal*/
    .addNewServiceModal .modal-body {
        padding: 20px;
        display: inline-block;
        width: 100%;
    }
    .addNewServiceModal .form-group {
        margin-bottom: 10px;
    }
    td.edit a {
        margin-top: 5px !important;
    }

    .orderDelete {
        white-space: initial !important;
    }
}
@media screen and (max-width: 480px){

    .h2, h2 {
        font-size: 24px;
    }
    label{
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .login {
        float: left;
        margin: 50px 0 20px;
        max-width: 100%;
        width: 100%;
        padding: 15px;
    }  

    /*Header*/
    h3.logo {
        display: inline-block;
        text-align: center;
        font-size: 18px;
    }
    span.wellcomeU {
        display: none;
    }
    .profileDropdown .dropdown button {
        font-size: 14px;
    }
    .profileDropdown {
        width: auto;
        text-align: center;
    }
    .profileImage {
        margin-right: 2px;
    }
    h3.logo {
        margin: 20px 0 0;
    }
    .serviceTopBarRight input {
        font-size: 13px;
    }
    .serviceTopBarRight select {
        font-size: 13px;
    }
    .profileDropdown ul.dropdown-menu {
        padding: 0;
        min-width: calc(100% + 70px);
        left: -60px;
    }
    /*Add new order*/
    h2.pageTitle {
        font-size: 16px;
    }
    .btn-grey {
        width: 100%;
    }
    .btn-primary{
        width: 100%;
    }
    .button-group input{
        margin: 0;
    }
    .button-group input + input{
        margin-top: 15px;
    }
    /*Add new service*/
    .serviceTopBar h4 {
        text-align: center;
    }
    .serviceTopBarRight .input-group {
        width: 100%;
        float: left;
        margin: 0;
    }
    .serviceTopBarRight .input-group + .input-group {
        margin-left: 0;
        margin-top: 15px;
    }

    /*Edit Profile*/
    .uploadInfo {
        display: none;
    }
    .fileButton {
        right: auto;
        bottom: 0%;
        left: 70%;
    }
    .uploadPhotoWrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .uploadPhoto {
        float: none;
        margin: 0 auto 0;
        width: 150px;
        height: 150px;
    }
    .btn-orange {
        padding: 0 25px;
    }

    /*Invoice*/
    .invoiceFirst .col-xs-6 {
        width: 100%;
        text-align: left !important;
    }
    .invoiceFirst table {
        float: left;
    }
    .customerDetailLeft, .customerDetailRight {
        display: block !important;
    }
    table.customerDetail td {
        padding: 15px !important;
    }

    /*Delete popup*/
    .deleteButtonGroup input {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .deleteButtonGroup input + input {
        margin-left: 0px;
    }
    .deleteButtonGroup .btn {
        margin: 5px 0;
    }
    .orderDelete p {
        font-size: 13px;
        margin: 0 0 15px 0;
    }
    /*Quotion*/
    .invoiceFirst tr td span {
        font-size: 14px;
    }
    tr.subTotal td {
        font-size: 13px !important;
    }

    /*Quotion for customer*/
    .quoteForcustomerCare table {
        width: 100%;
    }

    /*Service*/
    td.servicesButtons button {
        width: 100%;
    }
    td.edit {
        min-width: 150px;
    }
    .showPass {
        height: 180px !important;
    }
    .modal-header .close {
        height: 20px;
        width: 20px;
    }
    .orderDelete .modal-body {
        padding: 40px 20px 15px;
    }
}
@media screen and (max-width: 375px){


    .btn-orange {
        width: 100%;
    }

    /*Service Modal*/
    .optionButton label + label {
        margin-left: 0;
        display: block;
    }
    .optionButton input {
        height: 15px;
        width: 15px;
    }
    .addNewServiceModal .modal-body {
        padding: 15px 0;
    }

}
@media screen and (max-width: 320px){

    .h2, h2 {
        font-size: 22px;
    }
    /*Login*/
    .login form {
        padding: 15px;
    }
    img.logo {
        max-width: 200px;
        margin-top: 5px;
    }

}
