@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/HelveticaS-Regular.eot');
    src: url('../fonts/Helvetica/HelveticaS-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica/HelveticaS-Regular.woff2') format('woff2'),
        url('../fonts/Helvetica/HelveticaS-Regular.woff') format('woff'),
        url('../fonts/Helvetica/HelveticaS-Regular.ttf') format('truetype'),
        url('../fonts/Helvetica/HelveticaS-Regular.svg#HelveticaS-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'),
        url('../fonts/Lato-Regular/Lato-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica',Arial,sans-serif;
    color: #fff;
}
.fullWidth{
    float: left;
    width: 100%;
}
p{
    color: #A1A1A1;
}
h1,h2,h3,h4,h5,h6{
    color: #555555;
}
img{
    max-width: 100%;
}
.form-group {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    width: 100%;
    float: left;
}
h4 > span {
    color: #569CF1;
}
.colorWhite{
    color: #fff !important;
}
ul{
    list-style: none;
    margin: 0;
}
a{
    font-size: 16px;
}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
    color: inherit;
}
#change_user_password {
    color: #0864AD;
}
table tr td > a:hover{
    color: #0864AD;
}
input:focus{
    outline: none !important;
}
.btn:hover{
    opacity: 0.6;
}
.btn:hover,.btn:focus{
    outline: none;
}
.btn-orange:hover,.btn-orange:focus{
    color: #fff;
}
.btn-orange {
    background: #FC9E2F !important;
    border: none;
    padding: 0 35px;
    text-transform: uppercase;
    height: 50px;
    border-radius: 4px;
    margin: 20px 0;
    line-height: 100%;
    float: none !important;
    color: #fff;
}
.btn-warning {
    background: #FC9E2F !important;
    border: none;
    padding: 0 60px;
    text-transform: uppercase;
    height: 50px;
    border-radius: 4px;
    margin: 20px 0;
    line-height: 100%;
    float: none !important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline: none;
    outline-offset: 0;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none; 
    box-shadow: none; 
}
label {
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

.bgf9{
    background: #F9F9F9;
}
header {
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 999;
    top: 0;
}
.bgWhite{
    background: #fff;
}
.commonShadow{
    box-shadow:  0 3px 10px #E7E7E7;
    -webkit-box-shadow: 0 3px 10px #E7E7E7;
}
.inputFBF9FA input,.inputFBF9FA textarea{
    background: #FBF9FA;
}
table{
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.btn-grey {
    border: 1px solid #E1E1E1;
    background: #fff !important;
    color: #A6A6A6;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 6px;
    margin: 0 10px;
    font-weight: 600;
}
.btn-primary {
    border: 1px solid #0864AD !important;
    background: #0864AD !important;
    color: #fff !important;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 6px;
    margin: 0 10px;
    font-weight: 600;
}
.btn-grey:focus {
    border: 1px solid #E1E1E1;
    background: #fff !important;
    color: #A6A6A6;
}
.btn-grey + .btn-grey{
    margin-left: 15px;
}
.btn-grey:hover,.btn-grey:active{
    opacity: 0.7;
}
.btn-primary:hover,.btn-primary:active{
    opacity: 0.7;
}
.btn-service {
    border: 1px solid #E6E6E6 !important;
    background: transparent;
    padding: 10px;
    border-radius: 6px !important;
    outline: none;
    font-weight: 600;
    width: auto !important;
}
.btn-service + .btn-service {
    margin-left: 10px;
}
.btn-service{
    margin-left: 10px;
}
.color-blue{
    color: #2574B4;
}
.btn-service.color-grey {
    width: 200px;
    min-width: 190px;
}
.btn-service.color-blue {
    width: 100px;
    min-width: 100px;
}
.color-blue:hover,.color-blue:focus{
    color: #2574B4;
}
.color-orange{
    color: #FEAB58;
}
.color-orange:hover,.color-orange:focus{
    color: #FEAB58;
}
.color-grey{
    color: #807676;
}
.color-grey:hover,.color-grey:focus{
    color: #807676;
}
.table-responsive{
    float: left;
    width: 100%;
}

input:disabled {
    background: rgba(85, 85, 85, 0.1);
}
/*Login*/
.login {
    float: none;
    margin: 35px auto;
    max-width: 375px;
    text-align: center;
}
.login form {
    background: #FDFDFD;
    padding: 30px;
    border: 1px solid #CFCFCF;
    margin: 20px 0 0;
    box-shadow: -3px 2px 9px #cfcfcf;
    -webkit-box-shadow: -3px 2px 9px #cfcfcf;
    border-radius: 4px;
    display: inline-block;
}
input[type="email"],input[type="text"],input[type="password"],input[type="date"] {
    border: none;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid rgb(230, 228, 229);
    border-radius: 4px;
    color: #555;
    outline: none;
    box-shadow: -2px 2px 5px #E7E7E7;
    -webkit-box-shadow: -2px 2px 5px #E7E7E7;
    position: relative;
    font-size: 15px;
    -webkit-appearance: none;
    /*-moz-appearance:    none;*/
    /*appearance:         none;*/
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
select {
    border: none;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    border-radius: 4px;
    color: #555;
    outline: none;
    box-shadow: 0 3px 10px #E7E7E7;
    font-family: 'Lato-Regular';
    position: relative;
    background: url('../images/dropdown.svg');
    background-repeat: no-repeat !important;
    background-position: top right !important;
    background-size: auto 100% !important;
    background-color: #fff;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    -ms-appearance: none; 
    -o-appearance: none; 
    appearance: none;
    text-overflow: '';
}
select::-ms-expand { display: none; } 

textarea{
    border: none;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(230, 228, 229);
    border-radius: 4px;
    color: #555;
    outline: none;
    box-shadow: 0 3px 10px #E7E7E7;
    -webkit-appearance: none;
    font-family: 'Lato-Regular';
    position: relative;
    resize: none;
}
.login form input[type="submit"] {
    width: 100%;
    background: #0186EF;
    border: none;
    color: #fff;
    font-size: 20px;
    height: 55px;
    border-radius: 4px;
    padding: 0;
}
.login form p {
    margin-bottom: 30px;
}
.login form input[type="email"]::after {
    content: "\f0e0";
    position: absolute;
    right: 0;
    font-family: fontAwesome;
}
.login form .form-group img {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.login input {
    height: 50px;
    padding-right: 50px;
}
.login .form-group {
    margin-bottom: 20px;
}
.form-group.loginSubmit {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
footer {
    padding: 20px 10px;
    border-top: 1px solid #E1E1E1;
    float: left;
    width: 100%;
}
footer p{
    margin: 0;
    color: #5E5E5E;
}

/*Edit Profile*/

.topHeader {
    background: #0186EF;
    padding: 0;
}
ul.leftMenu{
    padding: 0;
    display: inline-block;
    float: left;
}
ul.leftMenu li {
    display: inline-block;
    float: left;
}
ul.leftMenu li a{
    color: #fff;
    text-decoration: none;
    padding: 13px;
    display: block;
}
ul.leftMenu li:hover a {
    background: #0864AD;
}
ul.leftMenu li.active a {
    background: #0864AD;
}
.rightMenu {
    float: right;
    margin: 13px 0;
}
.rightMenu a{
    color: #fff;
}
.mainHeader {
    background: #0864AD;
    padding: 10px 0;
}
/*h3.logo {
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
}*/
img.logo {
    max-width: 300px;
}
.profileDropdown {
    float: right;
    position: relative;
    z-index: 999;
}
.profileImage {
    height: 60px;
    width: 60px;
    background-size: cover !important;
    margin-right: 10px;
    border-radius: 50%;
}
.profileDropdown .profileImage, .profileDropdown .dropdown {
    vertical-align: middle;
    float: none;
    padding: 0;
    display: inline-block;
}
.profileDropdown .dropdown button{
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0;
    outline: none;
    border: none;
}
.profileDropdown .dropdown button:hover{
    opacity: 1;
    color: #fff;
}
.profileDropdown .dropdown button:focus{
    opacity: 1;
    color: #fff;
}
.profileDropdown ul.dropdown-menu {
    min-width: 100%;
    padding: 0;
}
.dropdown-menu>li>a {
    padding: 10px 20px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover,.dropdown-menu>li>a:active {
    border-radius: 4px;
}
.profileDropdown ul.dropdown-menu::after {
    content: "";
    border-style: solid;
    border-width: 8px;
    right: 5px;
    top: -14px;
    position: absolute;
    border-color: transparent transparent #fff transparent;
}
.dropdown-menu .divider {
    margin: 0;
}
.username {
    display: inline-block;
}
h2.pageTitle {
    text-transform: uppercase;
    border-bottom: 1px solid #CBCBCB;
    padding: 20px 65px;
    margin: 0;
    font-size: 20px;
}
.contentAreaInner {
    margin: 0 0 30px;
    border-radius: 0 0 4px 4px;
}
.contentAreaInner form {
    padding: 0 50px;
}
.uploadPhoto {
    float: left;
    position: relative;
    width: 200px;
    height: 200px;
}
.uploadPhoto img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.fileButton {
    position: absolute;
    right: -105%;
    display: inline-block;
    overflow: hidden;
    bottom: 0%;
}   
input#profileInput {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    cursor: pointer;
}
input.mask_broswse {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    cursor: pointer;
}
.fileButton i.fa {
    color: #fff;
    background: #0864AD;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.uploadPhotoWrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}
.uploadInfo {
    display: inline-block;
    vertical-align: middle;
    margin: 25px 0 0 5px;
    letter-spacing: 0;
    font-weight: 100;
    text-align: left;
}
.uploadInfo span {
    color: #0864AD;
    text-transform: uppercase;
}
.uploadInfo h4 {
    text-transform: uppercase;
    margin: 0;
}


/*Invoice*/

header.invoice {
    padding: 40px 0;
    position: relative;
}
.invoiceContentArea{
    margin-top: 0 !important;
}
.invoiceFirst {
    margin-bottom: 20px;
}
.invoiceFirst p {
    font-size: 16px;
    color: #6E6A6B;
}
.invoiceFirst table{
    float: right;
    border: 1px solid #DBDBDB;
    width: auto;
    overflow: auto;
}
.invoiceFirst table tr + tr{
    border-top: 1px solid #DBDBDB;
}
.invoiceFirst td {
    padding: 10px 20px !important;
    text-align: left;
    color: #737373;
    font-size: 18px;
}
.invoiceFirst tr td span {
    color: #0085EF;
    font-size: 18px;
}
.invoiceFirst h2 {
    letter-spacing: 14px;
    text-transform: uppercase;
    color: #383435;
    margin-top: 0;
}
.customerDetail{
    margin-bottom: 20px;
}
table.customerDetail td {
    padding: 40px 50px;
    vertical-align: top;
}
.customerDetailLeft {
    background: #0085EE;
}
.customerDetailRight {
    background: #148FED;
}
.customerDetailLeft p,.customerDetailRight p{
    color: #fff;
    font-size: 16px;
}
table.customerDetail h3 {
    margin: 0 0 20px;
    color: #fff;
}


.invoiceTable table {
    width: 100%;
}
th,td{
    color: #404040;
}
.customerDetail td, table.customerDetail th {
    white-space: initial;
}
.invoiceTable td {
    background: none repeat scroll 0 0 #f7f7f7;
    border-bottom: 10px solid #fff;
    padding: 5px; font-weight: normal;
}
.invoiceTable th{
    font-size: 16px;
    font-weight: 100;
    padding: 10px 0;
    border-bottom: 1px solid #D8D8D8;
    background: #fff;
    color: #454040;
}
.invoiceTable h2 {
    font-size: 24px;
}
.invoiceTable th:last-child {
    max-width: 150px;
    padding-right: 0;
    width: 150px;
}
.invoiceTable tr td:nth-child(3) {
    background: #fff !important;
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    padding: 0;
}
.invoiceTable tr td:nth-child(1) {
    width: 60%;
}
.invoiceTable tr td:nth-child(2),.invoiceTable th:nth-child(2) {
    text-align: center;
}
.invoiceTable th:nth-child(3) {
    border: none;
}
tr.subTotal td {
    background: #383435 !important;
    color: #fff !important;
    font-size: 18px !important;
    white-space: nowrap;
}

tr.subTotal td:last-child {
    background: #0085EE !important;
    ;}
tr.total td {
    background: #0085EE !important;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
}
/*Quotation*/
.quotationTable table {
    width: 100%;
}
.quotationTable table td {
    background: none repeat scroll 0 0 #f7f7f7;
    border-bottom: 15px solid #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
}
.quotationTable table td:last-child{
    text-align: right;
}
tr.total td:last-child {
    border-top: 10px solid #fff;
}
.quotationTable th{
    font-size: 16px;
    font-weight: 100;
    padding: 15px;
    border-bottom: 1px solid #D8D8D8;
    text-transform: uppercase;
    background: #fff;
    color: #3A3A3A;
}
.quotationTable th:nth-child(1) {
    padding-left: 0;
}

.quotationTable tr th:nth-child(4) {
    max-width: initial;
    background: #fff;
    padding: 0;
    border: none;
}
.quotationTable.QEx tr th:nth-child(4) {
    max-width: initial;
    background: #fff;
    padding: 0;
    border: none;
}
.quotationTable.QEx tr th:nth-child(5) {
    max-width: 10px;
    background: #fff;
    padding: 0;
    border: none;
}
.quotationTable tr td:nth-child(4) {
    max-width: 10px;
    min-width: 10px;
    background: #fff !important;
    padding: 0;
}
.quotationTable.QEx tr td:nth-child(4) {
    max-width: initial;
    min-width: initial;
    background: #F7F7F7 !important;
    padding: 0;
}
.quotationTable.QEx tr.subTotal td:nth-child(4) {
    background: #383435 !important;
}
.QEx .subTotal tr td:nth-child(4){
    background: #383435 !important;
}
.quotationTable.QEx tr td:nth-child(5) {
    max-width: 10px;
    min-width: 10px;
    background: #FFF !important;
    padding: 0;
}
.quotationTable.QEx tr.total td:nth-child(4) {
    background: #0085EE !important;
}
.offceUseOnly table {
    overflow: auto;
}
.offceUseOnly td {
    padding: 15px;
    border: 1px solid #DCDCDC;
    text-align: center;
}
.offceUseOnly th {
    font-size: 20px;
    font-weight: 100;
    padding: 20px 0;
    background: #fff;
    color: #3A3A3A;
}
.offceUseOnly table th:first-child {
    padding-left: 0;
}
.quoteForcustomerCare h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 30px;
    text-align: right;
}
.quoteForcustomerCare table {
    float: right;
    width: auto;
    border: 1px solid #319DF5;
    overflow: auto;
}
.quoteForcustomerCare td {
    padding: 12px 25px !important;
    color: #fff;
    font-size: 20px;
}
.quoteForcustomerCare tr +tr {
    border-top: 1px solid #319DF5 !important;
}

/*Services*/
.serviceTopBar {
    padding: 40px 0;
    float: left;
    width: 100%;
}
.serviceTopBar h4 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 0;
}
.serviceTopBar h4 img {
    margin: 0 10px 0 0;
}
.salesPresentative .serviceTopBarRight {
    margin: 8px 0 0 0;
}
.serviceTopBar.salesPresentativeTopBar .serviceTopBarRight {
    margin-top: 8px;
}
.serviceTopBarRight {
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.serviceTopBarRight .input-group {
    width: 220px;
    float: right;
    margin-left: 15px;
}
.serviceTopBarRight .input-group + .input-group {
    margin-left: 15px;
}
.serviceTopBarRight .input-group-addon {
    background: #0186EF;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
}
.serviceTopBarRight input {
    border-radius: 4px 0 0 4px;
    height: 45px;
    font-size: 16px;
}
.serviceTopBarRight select {
    font-size: 16px;
}
.serviceTopBarRight form {
    display: inline-block;
    margin-left: 15px;
}
.serviceTopBarRight button {
    border: none;
    background: transparent;
}
.serviceTopBarRight .btn {
    height: 45px;
    line-height: 45px;
    vertical-align: top;
}
.orderTB .addNewButton {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.btn-goback {
    padding-left: 20px;
    padding-right: 20px;
}
.serviceTable{
    border-radius: 4px;
}
.serviceTable thead th {
    background: #0864AD;
    color: #fff;
    padding: 15px 50px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 100;
}
.serviceTable thead th:last-child {
    text-align: right;
}
.serviceTable tbody tr + tr {
    border-top: 1px solid #D7D7D7;
}
.serviceTable tbody tr td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.serviceTable tbody tr td:last-child {
    text-align: right;
}
.installATIONModal .modal-dialog {
    max-width: 700px;
}
.installATIONModal .btn-orange {
    padding-left: 60px;
    padding-right: 60px;
}
button.installModalButton {
    border: 1px solid #DEDEDE;
    background: transparent;
    color: #FC972F;
    text-transform: capitalize;
    padding: 8px 15px;
    border-radius: 4px;
    outline: none;
}
.installATIONModal .modal-content{
    display: inline-block;
    width: 100%;
}
.installATIONModal h4{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
.installATIONModal .modal-header{
    background: #0864AD
}
.installATIONModal .modal-dialog {
    margin: 150px auto;
}
.installATIONModal .modal-header .close {
    height: 25px;
    width: 25px;
}
.installATIONModal .input-group{
    width: 100%;
}
.installATIONModal .modal-body{
    padding: 30px 50px;
    display: inline-block;
}
.installATIONModal input:not([type="submit"]),.installATIONModal select{
    background-color: #FBF9FA !important;
    width: 100%;
    height: 50px;
}
.btn-addnew {
    height: 45px;
    font-size: 14px;
    width: 100%;
    outline: none;
    margin: 0;
}
.installATIONModal select{
    background:url('../images/dropdown.svg');
}
/*Add new Orders*/

.form-group.addNewOrderButtons {
    text-align: center;
}
input.bgWhite {
    background: #fff;
    color: #B4B4B4;
    border: 1px solid #DFDFDF;
    text-transform: uppercase;
    font-size: 12px;
    height: 40px;
    padding: 0 30px;
    border-radius: 4px;
    outline: none;
}
input.bgBlue {
    background: #0864AD;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    height: 40px;
    padding: 0 30px;
    border-radius: 4px;
    outline: none;
}
.addNewOrderButtons input + input {
    margin-left: 30px;
}
.addNewOrder form {
    margin-top: 30px;
}
.ButtonsGroups {
    text-align: center;
}
.ButtonsGroups input{
    background: #fff;
    border: 1px solid #eee;
    color: #505050;
    height: 50px;
    padding: 0 40px;
    font-size: 14px;
    text-transform: uppercase;
}
.ButtonsGroups input + input{
    margin-left: 15px;
}
.ButtonsGroups input:hover {
    background: #0864AD;
    color: #fff;
}
.input-group > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
span.input-group-addon {
    box-shadow: -2px 2px 5px #E7E7E7;
    -webkit-box-shadow: -2px 2px 5px #E7E7E7;
}
/*Delete Popup*/

.modal-header {
    background: #0864AD;
    text-align: center;
}
.modal-header h4 {
    color: #fff;
}
.modal-header .close {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 15px;
    opacity: 1;
    margin: 0;
    border: none;
    padding: 0;
}
.modal-header .close:focus {
    outline: none;
}
.deleteButtonGroup {
    text-align: center;
}
.deleteButtonGroup .btn {
    height: 45px;
    line-height: 45px;
}
.button-group input:first-child, .button-group a:first-child {
    margin-left: 0;
}
/*.deleteButtonGroup input + input{
    margin-left: 15px;
}*/
.orderDelete p {
    text-align: center;
    color: #0864AD;
    font-size: 16px;
    margin: 0 0 30px 0;
}
.orderDelete .modal-body {
    padding: 40px 20px 50px;
}
.orderDelete .modal-dialog {
    max-width: 600px;
}

/*Orders Details*/

.ordersDetail .modal-dialog{
    width: 1000px;
}
.ordersDetail .modal-body{
    padding: 0;
}
.ordersDetail tr {
    border: none !important;
}
table.orderServicesTable {
    margin-top: 20px;
}
table.ordersDetailTable tr:nth-child(odd) {
    background: #F7F7F7;
}
table.ordersDetailTable tr td:first-child {
    color: #216D9A;
    font-weight: 600;
}
table.ordersDetailTable tr td:last-child {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}
table.ordersDetailTable tr td {
    padding: 18px 80px;
    color: #676767
}
.orders thead > th:last-child, .orders tbody > td:last-child {
    width: 20%;
    text-align: right;
}
table.orderServicesTable thead th {
    background: #0864AD;
    color: #fff;
    padding: 15px;
    font-weight: 100;
}
table.orderServicesTable th:first-child {
    padding-left: 80px;
}
table.orderServicesTable th:last-child {
    padding-right: 40px;
    width: 20%;
    text-align: right;
}
table.orderServicesTable tbody tr td {
    padding: 18px;
    color: #676767;
}
table.orderServicesTable td:first-child {
    padding-left: 80px;
}
table.orderServicesTable td:last-child {
    padding-right: 40px;
    width: 20%;
    text-align: right;
}
table.orderServicesTable tr:nth-child(odd) {
    background: #F7F7F7;
}
table.orderServicesTable tr td:first-child {
    color: #216D9A;
    font-weight: 600;
}
table.orderServicesTable tr:last-child {
    background: #E6E6E6;
    border-radius: 0 0 4px 4px;
}
table.orderServicesTable tr:last-child td {
    color: #216D9A;
    font-weight: 600;
    background: #e6e6e6; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6e6e6 0%, #e4e4e4 22%, #dedede 46%, #d1d1d1 71%, #cecece 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e6e6e6 0%,#e4e4e4 22%,#dedede 46%,#d1d1d1 71%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e6e6e6 0%,#e4e4e4 22%,#dedede 46%,#d1d1d1 71%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */

}


/*Orders*/

.addNewButton {
    max-width: 150px;
}
.addNewButton button {
    background: #FF9934;
    border: none;
    height: 45px;
    padding: 0 15px;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.addNewButton button img {
    margin-right: 5px;
    vertical-align: middle;
    max-width: 18px;
}
.addNewButton button:focus {
    outline: none;
}
.orders{
    border-radius: 4px;
}
.orders thead th {
    background: #0864AD;
    color: #fff;
    padding: 15px;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 16px;
}
.orders thead th a{
    color: #fff;
}
.orders thead th:first-child {
    padding-left: 50px;
}
.orders thead th:first-child {
    padding-left: 50px;
}
.orders tr + tr {
    border-top: 1px solid #DADADA;
}
.orders tr td {
    padding: 25px 15px;
    color: #727272;
}
.orders tr td:first-child{
    padding-left: 50px;
}
.orders td i.fa-envelope {
    color: #0864AD;
    margin-right: 5px;
}
td.quotion_invoice a {
    display: block;
    font-weight: 600;
}

td.quotion_invoice a:first-child {
    color: #2A71AE;
    text-transform: capitalize;
}
td.quotion_invoice a:last-child {
    color: #FF9934;
    text-transform: capitalize;
}
td.quotion_invoice span + span {
    margin-top: 5px;
}
td.edit > a {
    border: 1px solid #969696;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
td.edit a img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
td.edit .fa-pencil {
    color: #0864AD;
    vertical-align: middle;
    padding: 10px;
}
td.edit .fa-eye {
    color: #FF9934;
    vertical-align: middle;
    padding: 10px;
}
td.edit .fa-trash-o {
    color: #F10503;
    vertical-align: middle;
    padding: 10px;
}
td.edit a + a {
    margin-left: 6px;
}

/*Our Team*/

i.fa-user {
    height: 35px;
    width: 35px;
    background: grey;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    padding: 7px 0 0 0;
    color: #fff;
    font-size: 30px;
}

/*View user popup*/
table.eOBg tr:nth-child(odd) {
    background: #F7F7F7;
}
table tr td{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: left;
}
table tr td:first-child {
    font-size: 17px;
}
table th a{
    color: #fff;
}
.viewUser .modal-dialog {
    width: 800px;
}
.viewUser .modal-body{
    padding: 0;
}
.viewUser tr td:first-child {
    padding-left: 80px;
    color: #2E72A9;
    font-weight: 600;
}
.viewUser table th, .viewUser table td {
    width: auto !important;
    text-align: left !important;
}
.viewUser tr{
    border: none !important;
}
.modal-content{
    overflow: hidden;
}
@media screen and (min-width:768px){
    .modal-dialog {
        margin: 100px auto;
        width: 920px;
    }
}

/*Edit Profile Popup*/

.editProfilePopup .modal-dialog {
    width: 920px;
}
.editProfilePopup .modal-body {
    padding: 0 50px;
}
.changePassToggle:focus,.changePassToggle:hover {
    color: #337ab7 !important;
}
.chnagePasswordContent {
    height: 0;
    float: left;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.alterText {
    height: 0;
    float: left;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.showPass{
    height: 100px !important;
    opacity: 1;
    visibility: visible;
    transition:height 0.5s; 
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
}
/*Add new installation*/

.newInstallationPopup .modal-dialog {
    width: 650px;
}
.newInstallationPopup .modal-body {
    padding: 40px 60px 10px;
}
.newInstallationPopup .form-group {
    margin-bottom: 15px;
}
.newInstallationPopup .btn-orange {
    padding-left: 66px;
    padding-right: 66px;
}

/*Parametter*/
table thead th {
    background: #0864AD;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 15px;
}

.parametterTable thead th:first-child, .parametterTable tr td:first-child {
    padding-left: 40px;
}
.parametterTable thead th:last-child, .parametterTable tr td:last-child {
    padding-right: 40px;
    text-align: right;
}
.parametterTable tr + tr {
    border-top: 1px solid #EAEAEA;
}
.addParameterPopup .modal-dialog {
    width: 700px;
}
.addParameterPopup label {
    display: block;
    text-align: center;
    margin: 20px 0;
}
.addParameterPopup .modal-body {
    padding: 0 60px 0;
}
.addParameterPopup .btn-orange {
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
}

/*Variations*/
table thead th:first-child, table tbody tr td:first-child {
    padding-left: 40px;
}
table thead th:last-child, table tbody tr td:last-child {
    padding-right: 40px;
}
.variationTable thead th:last-child, .variationTable  tbody tr td:last-child {
    text-align: right;
}
.variationTable tr + tr {
    border-top: 1px solid #D6D6D6;
}
.variationTable tr td:first-child {
    font-size: 15px;
}
/*Variation modal*/
.addVariationModal .modal-dialog {
    max-width: 650px;
}
.addVariationModal .modal-content > h4 {
    border-bottom: 1px solid #DEDEDE;
    padding: 15px 20px;
    margin: 0;
    color: #343434;
    text-align: left;
}
.addVariationModal .modal-body {
    padding: 20px 50px 0;
}
.addVariationModal input[type="submit"] {
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
}
.addVariationModal .form-group {
    margin-bottom: 20px;
}
.addVariationModal .form-group {
    float: left;
}
/*Services*/
td.servicesButtons button {
    border: 1px solid #E6E6E6;
    background: transparent;
    padding: 10px;
    border-radius: 6px;
    color: #807676;
    outline: none;
    font-weight: 600;
}
td.servicesButtons button:nth-child(2) {
    color: #2574B4;
}
td.servicesButtons button:nth-child(3) {
    color: #FEAB58;
}
td.servicesButtons button + button {
    margin-left: 10px;
}
.addNewServiceModal .modal-body {
    padding: 30px 60px 0;
}
.addNewServiceModal .modal-dialog {
    max-width: 650px;
}
.addNewServiceModal .form-group {
    margin-bottom: 20px;
}
.addNewServiceModal input[type="submit"] {
    margin: 0;
    padding-left: 60px;
    padding-right: 60px;
}
.editServiceModal form {
    padding: 0;
}
.optionButton label {
    color: #5E5E5E;
    font-weight: 500;
    display: inline-block;
}
.optionButton label + label {
    margin-left: 15px;
}
.optionButton input{
    outline: none;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.modal-body form {
    padding: 0;
}

/*Bootstrap calender*/
.datepicker table thead th {
    background: transparent !important;
    color: #000;
}
.datepicker table thead th:last-child, .datepicker table tbody tr td:last-child{
    padding-left: 0;
    padding-right: 0;
}
.datepicker table thead th:first-child, .datepicker table tbody tr td:first-child{
    padding-left: 0;
    padding-right: 0;
}
.datepicker {
    padding: 15px 30px;
}
.datepicker table tr td,.datepicker table tr th{
    font-size: 12px;
    font-weight: 100;
}
.successMsg,.msg{
    color: #008000;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0 15px;
}
.modal-open .modal {
    padding: 0 !important;
}
.editText{
    background: none repeat scroll 0 0 rgb(8, 100, 173);
    /*    border-radius: 50%;*/
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline;
    padding: 6px 10px;
}
.quotationTableFC thead th:first-child, .quotationTableFC tr td:first-child {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    white-space: nowrap;
}
.quotationTableFC tr th:nth-child(4),.quotationTableFC tr td:nth-child(4){
    max-width: initial !important;
    min-width: initial !important;
    width: auto !important;
}
.quotationTableFC tr td:nth-child(4){
    background: #F7F7F7 !important;
}
.quotationTableFC tr th.tdBorder,.quotationTableFC tr td.tdBorder{
    max-width: 10px !important;
    min-width: 10px !important;
    width: 10px !important;
    background: #fff !important;
}
.quotationTableFC tr.subTotal td {
    background: #383435 !important;
}
.quotationTableFC tr.total td {
    background: #0085EE !important;
}
.service-select .col-sm-6{
    margin-top: 20px;
}
#manual-email input[type="file"] {
    color: #000;
}
.cke_editor_msg p{
    margin: 0;
}