{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
        <div class="contentArea bgf9">
            <div class="container">

                <div class="serviceTopBar">

                    <div class="serviceTopBarRight">
                        <form>

                            <div class="input-group">
                                <select id="paraservices">
                                    <option value="">Please select Service</option>
                                {% for service in services %}
                                   
                                    <option value="{{ service.id }}" {% if(service.id == service_id) %} selected {% endif%}>{{ service.serviceName }}</option>
                                {% endfor%}
                            </select>
                            </div>
                            <div class="input-group">
                                <select id="serviceparameterlist">
                                    
                                     {% for parameter in parameters %}
                                        <option value="{{ path('parameter_inner',{ 'id':parameter.id,'serviceid':service_id }) }}" {% if(parameter.id == parameterid) %} selected {% endif%}>{{ parameter.value }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                            <div class="input-group addNewButton">
                                <button type="button" data-toggle="modal" data-target="#addparameter" ><img src="{{ asset('bundles/expandatrck/images/plus.svg') }}"/>  Add New</button>
                            </div>
                        </form>
                            
                            <a class="btn btn-primary btn-goback" href="{{path('parameter',{'id':service_id})}}"></i>&nbsp;back</a>
                    </div>
                </div>

                <div class="contentAreaInner bgWhite fullWidth commonShadow">
                    <div class="table-responsive">
                        <table class="parametterTable">
                            <thead>
                                <tr>
                                    <th>{% for parameter in parameters %}
                                        {% if(parameter.id == parameterid) %} {{ parameter.value }} {% endif%}</option>
                                    {% endfor%}</th>
                                    <th>Cost</th>
                                    <th>Edit/Delete</th>
                                </tr>
                              
                            </thead>

                            <tbody>
                                {% if(entities | length > 0) %}
                                 {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.value }}</td>
                                    <td>
                                        {{ (entity.cost) ? entity.cost : 0 }}
                                        
                                    </td>
                                    
                                    <td class="edit">
                                        <a data-toggle="modal" data-target="#editparameter-option-{{entity.id}}" href="#"> <img src="{{ asset('bundles/expandatrck/images/edit.svg') }}"/></a>
                                        <a data-toggle="modal" data-target="#orderdelete-{{ entity.id }}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                        {% include 'ExpandatrckBundle:Modelpopup:deleteinnerparameter.html.twig' %}
                                        {% include 'ExpandatrckBundle:Modelpopup:editparameter-option.html.twig' %}
                                    </td>
                                </tr>
                                 {%  endfor %}
                                  
                            {% else %}
                                <td colspan="5" style="text-align:center">No Option Found</td>
                           {% endif%}
                            </tbody>
                        </table>
                             <div class="navigation">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
    
    {% include 'ExpandatrckBundle:Modelpopup:addinnerparameter.html.twig' %}
{% endblock %}