{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">
            <div class="contentAreaInner bgWhite fullWidth commonShadow inputFBF9FA addNewOrder">
                <h2 class="pageTitle">Add New Order</h2>
                <form  action="{{ path('create_order') }}" method="post" enctype="multipart/form-data">

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" placeholder="John" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="johnmark@gmail.com" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" name="phone" placeholder="+258-0000000" required/>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" name="address" placeholder="Lorem Dummy,Street No:34,London,lorem" require="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Quote Date</label>
                            <div class="input-group">
                                <input class="quote_date"  type="text" name="quote_date" required/>
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Expires</label>
                            <div class="input-group">
                                <input class="expires_date" type="text" class="datepicker" name="expires" require="true"/>
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Extra Notes</label>
                            <input type="text"   name="quotation" placeholder="Lorem ipsum"/>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <div class="form-group text-center button-group">
                            <input type="submit" id="saveorder" value="Save Changes" class="btn btn-primary"/>
                            <a href="#" id="addservice" class="btn btn-primary" disabled="disabled">Add service</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
{% endblock %}