{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">
            <div class="serviceTopBar">
                <h4>Add Service </h4>
                <div class="serviceTopBarRight">
                    <form>
                        <div class="input-group">
                            <input type="text" placeholder="Seacrh"/>
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                        <div class="input-group">
                            <!--                                <input type="text" placeholder="Sort by"/>
                                                            <span class="input-group-addon"><i class="fa fa-caret-down" aria-hidden="true"></i></span>-->
                            
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive serviceTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Service Name</th>
                                <th>Select Option</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.serviceName }}</td>

                                    <td>
                                        <button type="button" onClick="addService();" class="installModalButton" data-toggle="modal" data-target="#installation">select</button>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:add-new-order-service.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
{% endblock %}