{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {%  set orderService =  entity.id  | getOrderService %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">
            <div class="contentAreaInner bgWhite fullWidth commonShadow inputFBF9FA addNewOrder">
                <h2 class="pageTitle">Edit Order</h2>
                <form action="{{ path('update_order') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="orderid" value="{{ entity.id }}" />
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" value="{{entity.name}}" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" value="{{entity.email}}" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" name="phone" value="{{entity.phone}}"  required/>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" name="address" value="{{entity.address}}" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Quote Date</label>
                            <div class="input-group">
                                <input class="quote_date" type="text" value="{{entity.quoteDate | date('m/d/Y') }}" name="quote_date" required/>
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Expires</label>
                            <div class="input-group">
                                <input type="text" class="expires_date" value="{{entity.expires | date('m/d/Y') }}" name="expires" required/>
                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Extra Notes</label>
                            <input type="text"   name="quotation" value="{{entity.quotation}}" />
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group text-center button-group">
                            <input type="submit" value="save changes" class="btn btn-primary"/>
                            <a href="{{path('add_order_service',{'id':entity.id})}}" id="addservice" class="btn btn-primary" >Add More service</a>
                            <a style="margin-left:0;"  class="btn btn-primary" href="{{ path('send_quotion',{id:entity.id}) }}">Send Quotation</a>
                        </div>
                    </div>
                </form>
            </div>
            {% if(orderService| length > 0)%}
                <div class="quotationTable fullWidth quotationTableFC">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>

                                    <th>Description</th>
                                    <th>Services</th>
                                    <th>Cost</th>
                                    <th>Qty</th>
                                    <th class="tdBorder"></th>
                                    <th>AMOUNT</th>
                                        {# <th>Delete</th>#}
                                </tr>
                            </thead>
                            <tbody>
                                {% set subTotal = 0 %}
                                {% for orderdetail in orderdetails %}
                                    {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                        {% set subTotal = subTotal + orderdetail.getVariation().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                                    {% else %}
                                        {% set subTotal = subTotal + orderdetail.getService().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                                    {% endif %}
                                    <tr>


                                        <td>
                                            <span class="editText" title="Click to edit" onClick="chnageDesc({{orderdetail.id}});" id="desc-{{orderdetail.id}}">{% if orderdetail.getDescription is empty %} N/A {% else %} {{orderdetail.getDescription }}{% endif %}</span>
                                            <input type="text" id="description-text-{{orderdetail.id}}" value="{{ orderdetail.getDescription()}}" onblur="checkDesc(this,{{orderdetail.id}} )" style="display: none;" />
                                        </td>
                                        <td>
                                            {{ orderdetail.getService().getServiceName()  }}:{{  orderdetail.getVariation().getAlterText() }} {{  orderdetail.meta  | getParameters }}
                                        </td>
                                        <td>

                                            {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                                ${{ orderdetail.getVariation().getCost()  + orderdetail.getParameter() | getParametersCost }}
                                            {% else %}
                                                ${{ orderdetail.getService().getCost()  + orderdetail.getParameter() | getParametersCost }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            <span class="editText" title="Click to edit" onClick="chnageValue({{orderdetail.id}});" id="qtyvalue-{{orderdetail.id}}">{% if orderdetail.getQty is empty %} 1 {% else %} {{orderdetail.qty }}{% endif %}</span>
                                            {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                                <input type="text" id="qty-{{orderdetail.id}}" value="1" onblur="checkValue(this,{{ orderdetail.getVariation().getCost() + orderdetail.getParameter() | getParametersCost  }} ,{{orderdetail.id}} )" style="display: none;height:60px;width:60px;" />
                                                <input type="text" id="instcost-{{orderdetail.id}}" value="{{ orderdetail.getVariation().getCost()    }}" style="display: none;height:60px;width:60px;"  />
                                            {% else %}
                                                <input type="text" id="qty-{{orderdetail.id}}" value="1" onblur="checkValue(this,{{ orderdetail.getService().getCost() + orderdetail.getParameter() | getParametersCost  }} ,{{orderdetail.id}} )" style="display: none;height:60px;width:60px;" />
                                                <input type="text" id="instcost-{{orderdetail.id}}" value="{{ orderdetail.getService().getCost()    }}" style="display: none;height:60px;width:60px;"  />
                                            {% endif %}
                                            {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                            <input class="ankit_field" type="text" id="totalinstcost-{{orderdetail.id}}" value="{{ orderdetail.getInstallationcost().getCost() * orderdetail.getQty   }}" style="display: none;height:60px;width:60px;"  />
                                            {% else %}
                                                <input class="ankit_field" type="text" id="totalinstcost-{{orderdetail.id}}" value="{{ orderdetail.getService().getCost() * orderdetail.getQty   }}" style="display: none;height:60px;width:60px;"  />
                                            {% endif %}
                                            </td>
                                        <td class="tdBorder">

                                        </td>
                                        <td>
                                            <span class="total-ammount" id="ammount-{{orderdetail.id}}">
                                                {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                                    ${{ orderdetail.getVariation().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                                {% else %}
                                                    ${{ orderdetail.getService().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                                {% endif %}
                                            </span>


                                            <a style="margin-left: 25px;" data-toggle="modal" data-target="#orderdelete-{{orderdetail.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                                {% include 'ExpandatrckBundle:Modelpopup:delete-order-service.html.twig' %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr class="subTotal">
                                    <td></td>
                                    <td></td>
                                    <td>Sub total</td>
                                    <td></td>
                                    <td class="tdBorder"></td>

                                    <td id="sub-total">${{ subTotal}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        Installation Cost
                                    </td>
                                    <td>

                                    </td>
                                    <td>  </td>
                                    <td>
                                        Exclude? <input type="checkbox" name="include_installatio" {% if(entity.isInclude) %} {{ "checked" }} {% endif%}id="include_installation_cost" onclick="includeInstallationCost({{entity.id}})" />
                                    </td>
                                    <td>

                                    </td>

                                    <td>
                                        {% set installationCost = 0 %}
                                        {% for orderdetail in orderdetails %}
                                            {% set installationCost = installationCost + orderdetail.getInstallationcost().getCost()  * orderdetail.qty  %}
                                        {% endfor %}
                                        <input type="hidden" id="includecost" value="{{ installationCost }}" />
                                        <span id="installationCost">
                                            {% if(entity.isInclude) %}
                                                ${{ 0 }}
                                            {% else %}
                                                ${{ installationCost }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                            Manual Installation Cost
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            Exclude? <input type="checkbox" name="include_manual_installation" {% if(entity.isManualInclude) %} {{ "checked" }} {% endif%}id="include_installation_manual_cost" onclick="includeManualCost({{entity.id}})" />
                                            
                                           
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                           {% if(entity.isManualInclude) %}
                                               <span class="editText" title="Click to edit" onClick="chnageManualCost();" id="manual-cost"> $0 </span>
                                            <input type="text" id="change-manual-cost" value="{{ entity.manualCost }}" onblur="checkManualCostValue(this, 0  ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                            <input type="hidden" id="manualincludecost" value="{{ entity.manualCost }}" />
                                               {% else %}
                                            <span class="editText" title="Click to edit" onClick="chnageManualCost();" id="manual-cost">{% if(entity.manualCost is not empty) %}${{ entity.manualCost }} {% else %} $0 {% endif %}</span>
                                            <input type="text" id="change-manual-cost" value="{{ entity.manualCost }}" onblur="checkManualCostValue(this,{% if(entity.manualCost is not empty) %}{{ entity.manualCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                            <input type="hidden" id="manualincludecost" value="{{ entity.manualCost }}" />
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                <tr>
                                    <td>

                                        Service Cost
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>  </td>
                                    <td>

                                    </td>

                                    <td>
                                        <span class="editText" title="Click to edit" onClick="chnageServiceCost();" id="change-service-cost">{% if(entity.serviceCost is not empty) %}${{ entity.serviceCost }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="change-cost" value="{{ entity.serviceCost }}" onblur="checkServiceCostValue(this,{% if(entity.serviceCost is not empty) %}{{ entity.serviceCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Travel Cost
                                    </td>
                                    <td>

                                    </td>
                                    <td>  </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>

                                    <td>

                                        <span class="editText" title="Click to edit" onClick="chnageTravelCost();" id="travel-cost">{% if(entity.travelCost is not empty) %}${{ entity.travelCost }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="travel-cost-text" value="{{ entity.travelCost }}" onblur="checkTravelCostValue(this,{% if(entity.travelCost is not empty) %}{{ entity.travelCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <span class="editText" title="Click to edit" onClick="chnageOtherText();" id="othertext">{% if(entity.otherText is not empty) %}{{ entity.otherText }} {% else %} Other {% endif %}</span>
                                        <input type="text" id="edit-other-text" value="{{ entity.otherText }}" onblur="checkOtherTextValue(this,{{entity.id}} )" style="display: none;" />
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>  </td>
                                    <td>

                                    </td>

                                    <td>

                                        <span class="editText" title="Click to edit" onClick="chnageOtherCost();" id="other">{% if(entity.other is not empty) %}${{ entity.other }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="other-cost" value="{{ entity.other }}" onblur="checkOtherCostValue(this,{% if(entity.other is not empty) %}{{ entity.other }} {% else %} 0{% endif %},{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Your Quote is G.S.T Inclusive and is Payable on Completion
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>  </td>
                                    <td>  </td>
                                </tr>
                                <tr class="total">
                                    <td>
                                        total:
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>  
                                    <td>  </td>

                                    <td>
                                        {% if(entity.isInclude) and entity.isManualInclude %}
                                            <span id="grandTotal">${{ subTotal + entity.serviceCost + entity.travelCost + entity.other}} </span>
                                            {% elseif (entity.isInclude and  entity.isManualInclude == 0) %}
                                                <span id="grandTotal">${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost }} </span>
                                            {% elseif (entity.isInclude ==0 and  entity.isManualInclude) %}
                                                <span id="grandTotal">${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + installationCost }} </span>
                                            {% else %}
                                               <span id="grandTotal">${{ subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost}} </span> 
                                             {% endif %}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            {% endif %}


        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
{% endblock %}