{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">

            <div class="serviceTopBar orderTB">
                <h4>Orders</h4>
                <div class="serviceTopBarRight">
                    <form path="{{path('user')}}" method="get">
                        <div class="input-group">
                            <input type="text" name="q" placeholder="Search by Name" value="{{app.request.get('q')}}"/>
                            <span class="input-group-addon"><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>

                        </div>
                    </form>  
                    <div class="input-group addNewButton">
                        <a href="{{ path('add_order') }}"><button type="button"><img src="{{ asset('bundles/expandatrck/images/plus.svg') }}"/>  Add New</button></a>
                    </div>

                </div>
            </div>

            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive orders">
                    <table>
                        <thead>

                            <tr>
                                <th>{{ knp_pagination_sortable(entities, 'Name', 'a.name') }}</th>
                                <th>{{ knp_pagination_sortable(entities, 'Email', 'a.email') }}</th>
                                <th>Quote Date</th>
                                <th>Quote/Invoice</th>
                                <th>Created By</th>
                                <th style="text-align: right;">View / Edit / Delete</th>
                            </tr>

                        </thead>

                        <tbody>
                            {% if entities is empty %}
                                <tr><td style="text-align:center" colspan="6">No Orders Found</td></tr>
                            {% else  %}
                                {% for  entity in entities %}
                                    <tr>
                                        <td>{{ entity.name }}</td>
                                        <td><img src="{{ asset('bundles/expandatrck/images/email.svg') }}"/> &nbsp;<a class="mail" href="mailto:{{entity.email}}">{{entity.email}}</a></td>
                                        <td>{{ entity.quoteDate | date('dS M,Y')}}</td>
                                        <td class="quotion_invoice">
                                            <a href="{{ path('send_quotion',{id:entity.id}) }}">Send Quotation</a>
                                            <a href="{{ path('send_invoice',{id:entity.id}) }}">Send Invoice</a>
                                        </td>
                                        <td>{{ entity.getUser().getFname()}} {{ entity.getUser().getLname()}}</td>
                                        <td class="edit" style="text-align: right;">
                                            <a data-toggle="modal" data-target="#orders-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/eye.svg') }}"/></a>
                                            <a href="{{ path ('edit_order',{ 'id':entity.id }) }}"> <img src="{{ asset('bundles/expandatrck/images/edit.svg') }}"/></a>
                                            <a data-toggle="modal" data-target="#orderdelete-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                                {% include 'ExpandatrckBundle:Modelpopup:deleteorder.html.twig' %}
                                                {% include 'ExpandatrckBundle:Modelpopup:vieworder.html.twig' %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                         <div class="navigation">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}


{% endblock %}