<!DOCTYPE html>
<html>
    <head>
        <title>Invoice</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('bundles/expandatrck/css/bootstrap.min.css') }}" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/style.css') }}" >
        <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/responsive.css') }}" >
        <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/bootstrap-datepicker.css') }}" >
        <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/toastr.css') }}" >
    </head>
    <body>
        <header class="invoice">
            <div class="container">
                <img src="{{ asset('bundles/expandatrck/images/logo.png') }}"/>
            </div>
        </header>
        <div class="contentArea invoiceContentArea">
            <div class="container">
                <div class="contentAreaInner fullWidth">
                    <div class="invoiceFirst fullWidth">
                        <div class="col-xs-6">
                            <div class="row">

                                <p> 288 Main North Road </p>
                                <p>  Redwood 8051</p>
                                <p>  Phone:03 3545525</p>
                                <p>  G.S.T Number: 109396583</p>
                                <p>  Email: expandatrack@gmail.com</p>
                                <p>  Website: www.expandatrack.co.nz</p>

                            </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            <div class="row">
                                <h2>invoice</h2>
                                <table>
                                    <tr>
                                        <td>
                                            <span>Invoice Date:</span> 3/8/2016
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Invoice No:</span> 25687666
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <table class="customerDetail fullWidth">
                        <tr>
                            <td class="col-sm-6 customerDetailLeft">
                                <h3>Customer Details</h3>
                                <p>Customer Name/Company:{{ entity.name }}</p>
                                <p>Address:{{ entity.address }}</p>
                                <p>Mobile: {{ entity.phone }}</p>
                                <p>Phone:{{ entity.phone }}</p>
                                <p>Email: {{ entity.email }}</p>
                            </td>
                            <td class="col-sm-6 customerDetailRight">
                                <h3>Direct Credit Details</h3>
                                <p>Expandatrack Ltd</p>
                                <p>ANZ</p>
                                <p>0107980011998 46</p>
                                <p>
                                    Please ensure all cheques are made payable to expandatrack Ltd
                                </p>
                                <p>
                                    <img src="{{ asset('bundles/expandatrck/images/expandatrack.png') }}"/>
                                </p>
                            </td>
                        </tr>
                    </table>

                    <!--Table Start-->
                    <div class="invoiceTable fullWidth">
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>DESCRIPTION</th>
                                        
                                        <th>QTY</th>
                                        <th></th>
                                        <th>AMOUNT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if (orderdetails is not empty ) %}
                                    {% set subTotal = 0 %}
                                    {% set totalService = 0 %}
                                    {% for orderdetail in orderdetails %}
                                        {% set subTotal = subTotal + orderdetail.getService.getId() | getServiceCost(orderdetail.getOrders().getId()) + orderdetail.getService.getId() | getInvoiceParametersCost(orderdetail.getOrders().getId())  %}
                                    
                                        <tr>
                                            <td>
                                                {{ orderdetail.getService().getServiceName()  }}
                                            </td>
                                            
                                            <td>
                                               {{  orderdetail.getService.getId() | getTotalService(orderdetail.getOrders().getId()) }}
                                            </td>
                                            <td>
                                                   
                                            </td>
                                                
                                            <td>
                                               ${{ orderdetail.getService.getId() | getServiceCost(orderdetail.getOrders().getId())   + orderdetail.getService.getId() | getInvoiceParametersCost(orderdetail.getOrders().getId()) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr class="subTotal">
                                        <td></td>
                                       
                                        <td>Sub total</td>
                                        <td></td>
                                        <td id="sub-total">${{ subTotal }}</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            Installation Cost
                                        </td>
                                        <td>
                                            Exclude? <input type="checkbox" name="include_installatio" {% if(entity.isInclude) %} {{ "checked" }} {% endif%}id="include_installation_cost" onclick="includeInstallationCost({{entity.id}})" />
                                        </td>
                                        
                                        <td>

                                        </td>
                                        <td>
                                           {% set installationCost = 0 %}
                                            {% for orderdetail in invoice_details %}
                                                {% set installationCost = installationCost + orderdetail.getInstallationcost().getCost()  * orderdetail.qty %}
                                            {% endfor %}
                                            <input type="hidden" id="includecost" value="{{ installationCost }}" />
                                            <span id="installationCost"> 
                                                {% if(entity.isInclude) %}
                                                ${{ 0 }}
                                                {% else %}
                                                     ${{ installationCost }}
                                                {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Manual Installation Cost
                                        </td>
                                       
                                        <td>
                                            Exclude? <input type="checkbox" name="include_manual_installation" {% if(entity.isManualInclude) %} {{ "checked" }} {% endif%}id="include_installation_manual_cost" onclick="includeManualCost({{entity.id}})" />
                                            
                                           
                                        </td>
                                        <td></td>
                                        <td>
                                           {% if(entity.isManualInclude) %}
                                               <span class="editText" title="Click to edit" onClick="chnageManualCost();" id="manual-cost"> $0 </span>
                                            <input type="text" id="change-manual-cost" value="{{ entity.manualCost }}" onblur="checkManualCostValue(this, 0  ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                            <input type="hidden" id="manualincludecost" value="{% if( entity.manualCost is empty)%}{{0}}{% else %} {{entity.manualCost}} {% endif %}" />
                                               {% else %}
                                            <span class="editText" title="Click to edit" onClick="chnageManualCost();" id="manual-cost">{% if(entity.manualCost is not empty) %}${{ entity.manualCost }} {% else %} $0 {% endif %}</span>
                                            <input type="text" id="change-manual-cost" value="{{ entity.manualCost }}" onblur="checkManualCostValue(this,{% if(entity.manualCost is not empty) %}{{ entity.manualCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                            <input type="hidden" id="manualincludecost" value="{% if( entity.manualCost is empty)%}{{0}}{% else %}{{entity.manualCost}}{% endif %}" />
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            
                                            Service Cost
                                        </td>
                                        <td>

                                        </td>
                                       
                                        <td>

                                        </td>
                                        <td>
                                        <span class="editText" title="Click to edit" onClick="chnageServiceCost();" id="change-service-cost">{% if(entity.serviceCost is not empty) %}${{ entity.serviceCost }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="change-cost" value="{{ entity.serviceCost }}" onblur="checkServiceCostValue(this,{% if(entity.serviceCost is not empty) %}{{ entity.serviceCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Travel Cost
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        
                                        <td>

                                        <span class="editText" title="Click to edit" onClick="chnageTravelCost();" id="travel-cost">{% if(entity.travelCost is not empty) %}${{ entity.travelCost }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="travel-cost-text" value="{{ entity.travelCost }}" onblur="checkTravelCostValue(this,{% if(entity.travelCost is not empty) %}{{ entity.travelCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                           <span class="editText" title="Click to edit" onClick="chnageOtherText();" id="othertext">{% if(entity.otherText is not empty) %}{{ entity.otherText }} {% else %} Other {% endif %}</span>
                                        <input type="text" id="edit-other-text" value="{{ entity.otherText }}" onblur="checkOtherTextValue(this,{{entity.id}} )" style="display: none;" />
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        
                                        <td>

                                        <span class="editText" title="Click to edit" onClick="chnageOtherCost();" id="other">{% if(entity.other is not empty) %}${{ entity.other }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="other-cost" value="{{ entity.other }}" onblur="checkOtherCostValue(this,{% if(entity.other is not empty) %}{{ entity.other }} {% else %} 0 {% endif %},{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Your Invoice is G.S.T Inclusive and contains a G.S.T amount of:
                                            {% if(entity.isInclude) %}
                                            <span id="grand-total-invoice">${{  ((subTotal  + entity.serviceCost + entity.travelCost + entity.other) * 0.15) |number_format(2, '.', ',')  }} </span>
                                            {% else %}
                                               <span id="grand-total-invoice">${{ ((subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other) * 0.15) |number_format(2, '.', ',') }} </span> 
                                             {% endif %} 
                                             
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        
                                        <td>
                                           
                                        </td>
                                    </tr>
                                    <tr class="total">
                                        <td>
                                            total:
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                          
                                        <td>
                                           {% if(entity.isInclude) and entity.isManualInclude %}
                                            <span id="grandTotal">${{ subTotal + entity.serviceCost + entity.travelCost + entity.other}} </span>
                                            {% elseif (entity.isInclude and  entity.isManualInclude == 0) %}
                                                <span id="grandTotal">${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost }} </span>
                                            {% elseif (entity.isInclude ==0 and  entity.isManualInclude) %}
                                                <span id="grandTotal">${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + installationCost }} </span>
                                            {% else %}
                                               <span id="grandTotal">${{ subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost}} </span> 
                                             {% endif %}
                                            </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <h2 class="text-center">We Thankyou For Your Business</h2>
                        {% if ( orderdetails is not empty ) %}
                      <div class="input-group">
                        <a style="margin-left:0;" class="btn btn-primary" onClick="send_invoice_email({{entity.id}})" href="javascript:;">Send</a>
                        <a style="margin-left:0;" onClick="checkInstallationcost('{{ asset('/uploads/templatepdf/'~pdf)}}')" class="btn btn-primary" href="javascript:void(0)">Download pdf</a>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('bundles/expandatrck/js/jquery-latest.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/theme.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/jquery.form.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/toastr.js') }}"></script>
            <script>
                var base_url = "{{ url('homepage') }}";
            </script>
        {% endblock %}
    </body>
</html>
