{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">

            <div class="serviceTopBar">
                <h4>Installation</h4>
                <div class="serviceTopBarRight">
                    <form>
                        {#<div class="input-group">
                            <input type="text" placeholder="Seacrh by Name"/>
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>#}
                        <div class="input-group">
                            <select id="services">
                                {% for service in services %}
                                   
                                    <option value="{{path('installation',{'id':service.id})}}" {% if(service.id == service_id) %} selected {% endif%}>{{ service.serviceName }}</option>
                               {% endfor%}
                            </select>
                        </div>
                        <div class="input-group addNewButton">
                            <button type="button" data-toggle="modal" data-target="#newinstallation" ><img src="{{ asset('bundles/expandatrck/images/plus.svg') }}"/>  Add New</button>
                            
                        </div>
                    </form>
                            <a class="btn btn-primary btn-goback" href="{{path('service')}}"></i>&nbsp;back</a>
                </div>
            </div>

            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive orders">
                    <table>
                        <thead>
                            <tr>
                                <th>Start Range (Width)</th>
                                <th>End Range (Width)</th>
                                <th>Cost</th>
                                <th style="text-align: right;"> Edit / Delete</th>
                            </tr>
                        </thead>
                         {% if app.session.flashBag.has('error') %}
                    <div class="alert alert-warning">
                        {% for msg in app.session.flashBag.get('error') %}
                             <strong>Warning!</strong> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                        <tbody>
                             {% for entity in entities %}
                                {% if(entity.startRange != 0) and entity.endRange !=0 and entity.cost !=0 %}
                            <tr>
                                <td>{{entity.startRange }}</td>
                                <td>{{entity.endRange }}</td>
                                <td>{{entity.cost}}</td>
                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#editinstallation-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/edit.svg') }}"/></a>
                                    <a data-toggle="modal" data-target="#orderdelete-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                    {% include 'ExpandatrckBundle:Modelpopup:editinstallation.html.twig' %}
                                    {% include 'ExpandatrckBundle:Modelpopup:deleteinstallation.html.twig' %}
                                </td>
                            </tr>
                            {% endif %}
                             {% endfor %}

                        </tbody>
                    </table>
                              <div class="navigation">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:addnewinstallation.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
{% endblock %}