{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">
            <div class="serviceTopBar">
                <h4>Add Service </h4>
                <div class="serviceTopBarRight">
                    <form path="{{path('service')}}" method="get">
                        <div class="input-group">
                            <input type="text" name="q" placeholder="Search by Name" value="{{app.request.get('q')}}"/>
                            <span class="input-group-addon"><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive serviceTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Service Name</th>
                                <th>Select Option</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for entity in entities %}
                            <tr>
                                <td>{{ entity.serviceName }}</td>
                                
                                <td>
                                    <button type="button" onclick="addService({{ entity.id }});" class="installModalButton" data-toggle="modal" data-target="#installation-{{ entity.id }}">select</button>
                                    {% include 'ExpandatrckBundle:Modelpopup:add-new-order-service.html.twig' %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
        
        {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
{% endblock %}