<header>
    <div class="topHeader">
        <div class="container">
            <ul class="leftMenu">
                <li class="{% if app.request.attributes.get('_route') == 'user' %}active{% endif %}"><a href="{{path('user')}}">Our Team</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'order' or app.request.attributes.get('_route') == 'list_service_to_order' or app.request.attributes.get('_route') == 'edit_order' or app.request.attributes.get('_route') == 'add_order' or app.request.attributes.get('_route') == 'add_order_service'%}active{% endif %}"><a href="{{path('order')}}">Orders</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'service' or app.request.attributes.get('_route') == 'variations' or app.request.attributes.get('_route') == 'installation' or app.request.attributes.get('_route') == 'parameter'%}active{% endif %}"><a href="{{path('service')}}">Products</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'user_settings' %} active {% endif %}"><a href="{{path('user_settings')}}">Settings</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'user_message' %} active {% endif %}"><a href="{{path('user_message')}}">Custom Message</a></li>
            </ul>
        </div>
    </div>
    <div class="mainHeader">
        <div class="container">
            <a href="{{path('user')}}"><img class='logo' src="{{asset('bundles/expandatrck/images/Logo_inner.png')}}"></a>
            <div class="profileDropdown">
                <div class="dropdown">

                    <button class="btn  dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        {% if(app.user.path == '' or app.user.path == NULL)%}
                            <div style='background: url({{ asset('bundles/expandatrck/images/profile.png') }})' class="profileImage"></div>
                        {% else %}
                            <div style='background: url({{ asset('/uploads/users/'~app.user.path)}})' class="profileImage"></div>   
                        {% endif %}
                        <span class="wellcomeU">
                        Welcome, {{app.user.fname}}
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#viewprofile">Profile</a></li>
                        <div class="divider"></div>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('fos_user_security_logout')}}">Logout</a></li>

                    </ul>


                </div>
            </div>
        </div>
    </div>
</header>{# empty Twig template #}
