{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">

            <div class="serviceTopBar salesPresentativeTopBar ">
                <h4 style="margin: 0;"><img src="{{ asset('bundles/expandatrck/images/user-circle.png') }}"/>Sales Representative</h4>
                <div class="serviceTopBarRight">
                    <form path="{{path('order')}}" method="get">
                        <div class="input-group">
                            <input type="text" name="q" placeholder="Search by Name" value="{{app.request.get('q')}}" />
                            <span class="input-group-addon"><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>

                        </div>
                    </form>   
                    <div class="input-group addNewButton">
                        <button type="button" data-toggle="modal" data-target="#adduser" ><img src="{{asset('bundles/expandatrck/images/plus.png')}}"/>  Add New</button>
                    </div>

                </div>

            </div>

            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive orders">
                   
                    <table>
                        <thead>
                            <tr>
                                <th>Users</th>
                                <th>{{ knp_pagination_sortable(entities, 'Name', 'a.fname') }}</th>
                                <th>{{ knp_pagination_sortable(entities, 'Email', 'a.email') }}</th>
                                <th style="text-align: right;">View / Edit / Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if entities is empty %}
                                <tr><td style="text-align:center" colspan="5">No Users Found</td></tr>
                            {% else  %}
                                {% for user in entities %}
                                    <tr>
                                        {% if(user.path is empty) %}
                                            <td><i class="fa fa-user"></i></td>
                                            {% else %}
                                            <td><img  style="width:35px;height:35px;border-radius:50%;" src="{{ asset('/uploads/users/'~user.path)}}" /></td>
                                            {%endif%}
                                        <td>{{user.fname | capitalize }} {{user.lname}} </td>
                                        <td><i class="fa fa-envelope" aria-hidden="true"></i><a class="mail" href="mailto:{{user.email}}">{{user.email}}</a></td>


                                        <td class="edit" style="text-align: right;">
                                            <a data-toggle="modal" data-target="#viewuser-{{user.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/eye.svg') }}"/></a>
                                            <a data-toggle="modal" data-target="#editprofile-{{user.id}}" href="#"> <img src="{{ asset('bundles/expandatrck/images/edit.svg') }}"/></a>
                                            <a data-toggle="modal" data-target="#orderdelete-{{user.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></i></a>

                                            {% include 'ExpandatrckBundle:Modelpopup:edit.html.twig' %}
                                            
                                            {% include 'ExpandatrckBundle:Modelpopup:users.html.twig' %}
                                            {% include 'ExpandatrckBundle:Modelpopup:delete.html.twig' %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif%}

                        </tbody>
                    </table>
                             <div class="navigation">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:adduser.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}


{% endblock %}
