{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">
            <div class="contentAreaInner bgWhite fullWidth commonShadow inputFBF9FA addNewOrder">
                <h2 class="pageTitle">Message Settings</h2>
                <form  action="{{ path('msg_save') }}"  method="post" enctype="multipart/form-data">

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Custom Message</label>
                            <textarea rows="12" name="msg" placeholder="message here..." required>{% if(entity is not empty  ) %} {{ entity.text }} {% endif %}</textarea>                           

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                           <input type="submit"  value="Save Changes" class="btn btn-primary"/>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
{% endblock %}