{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">
            <div class="contentAreaInner bgWhite fullWidth commonShadow inputFBF9FA addNewOrder">
                <h2 class="pageTitle">Settings</h2>
                <form  action="{{ path('setting_save') }}" method="post" enctype="multipart/form-data">

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Admin Email</label>
                            
                            <input type="email" name="email"  {% if(entity is not empty  ) %} value={{ entity.email }} {% endif %} pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="johnmark@gmail.com" required/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                           <input type="submit"  value="Save Changes" class="btn btn-primary"/>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
{% endblock %}