 {% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">
            <div class="serviceTopBar salesPresentativeTopBar">
                <h4 style="margin:0;"><i class="fa fa-user" aria-hidden="true"></i>Sales Representative </h4>

                <div class="serviceTopBarRight">
                    <form>
                        <div class="input-group">
                            <input type="text" placeholder="Seacrh by Name"/>
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                        <div class="input-group">
                            <select>
                                <option>Search by Sort</option>
                                <option>Search by Sort</option>
                                <option>Search by Sort</option>
                            </select>
                        </div>
                        <div class="input-group addNewButton">
                            <button type="button" data-toggle="modal" data-target="#adduser" ><img src="{{asset('bundles/expandatrck/images/plus.png')}}"/>  Add New</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive orders">
                    <table>
                        <thead>
                            <tr>
                                <th>Users</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th style="text-align: right;">View / Edit / Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit">
                                    <a data-toggle="modal" data-target="#viewuser" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#viewuser" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#orders" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#orders" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#orders" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#orders" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#orders" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#orders" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user"></i></td>
                                <td>James Stuart</td>
                                <td><i class="fa fa-envelope" aria-hidden="true"></i> jamesstuart@gmail.com</td>


                                <td class="edit" style="text-align: right;">
                                    <a data-toggle="modal" data-target="#orders" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#editprofile" href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a data-toggle="modal" data-target="#orderdelete" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:adduser.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:delete.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:edit.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:users.html.twig' %}
{% endblock %}
